[2016-08-10 18:32] gregberns opened #4 "Initializing new Maybe object"
First, this is an awesome library!! I have been using it for several days and I love the control flow.

One change I'd like to suggest is to the Maybe module. It works great if you want to expose a Maybe<object> as a property. But I'd like to be able to create a new Maybe object and pass it on.

For example, an error occurs and I just want to ignore it and return a Maybe. Currently, it seems like

[2016-08-10 22:03] vkhorikov commented on #4
Thanks! Glad you found the library helpful.

Actually, you can do this sort of operation using explicit conversion. Try this:

[code]

[2016-08-11 04:20] gregberns commented on #4
Ah! Beautiful. Thought I tried that but didn't put parens around both. Thanks again for the great library.

[2016-08-11 04:20] #4 closed

[2016-08-14 07:44] alex-erygin opened #5 "Support for .NET core required"
Hi, can you add support for .NET core?

[2016-08-15 03:08] vkhorikov commented on #5
That would indeed be great. Not sure about timeline, but I'll try to do that.

[2016-08-17 18:21] rctyler opened #6 "Help with naming extension method that executes some function and returns Result<T> if success"
I'm writing an extension method that operates over a collection and executes some operation. It doesn't care about the output of that function, rather it returns back the original collection if the operation succeeds, else it returns a Result.Fail (and the error msg of the action) if it fails.

So instead of doing
[code]

I'd do something like
[code]

Where `Execute` is a generic function defined

[2016-08-17 22:12] vkhorikov commented on #6
Naming is hard :) I can't think of any better name than `Execute` here.

However, I would recommend another approach. As I understood, you are trying to preserve the value from the previous result while still accounting for the result of executing a subsequent function.

Try this instead:

[code]

Here, you transform `Result` into `Result<T>` thus preserving both the returned value of the previous

[2016-08-18 16:00] peteski22 opened #7 "ResultExtensions: OnFailure"
Hi, apologies if I've gotten this completely wrong.. I was reading your article: http://enterprisecraftsmanship.com/2015/03/20/functional-c-handling-failures-input-errors/

It discusses the use of the OnFailure extension method for Result, but looking the Nuget package doesn't appear to have this method, the commits on GitHub also don't appear to have the method, am I missing something?

Thanks
Pe

[2016-08-18 20:41] vkhorikov commented on #7
You are absolutely right, I haven't added them to the library yet. I'll add them on this week-end, and will release a new version.

Thanks for pointing this out!

Vlad

[2016-08-18 20:46] peteski22 commented on #7
Thanks so much, also for the blog post, PluralSight course and creating the
Nuget package!

:)

On Thursday, 18 August 2016, Vladimir Khorikov <notifications@github.com>
wrote:

[2016-08-18 22:13] vkhorikov commented on #7
Just pushed a new version - 1.5.0 - of the package. Let me know if you have any issues with the OnFailure extension method.

[2016-08-19 23:04] rctyler commented on #6
Thanks! I didn't notice that `Map` function, awesome.

[2016-08-20 00:24] #6 closed

[2016-08-22 09:31] peteski22 commented on #7
Hey Vlad, should there be additional overloads of the for OnFailure method (similar to the OnSuccess ones)? To allow you to pass deal with the result object.

i.e.

myResult.OnFailure((Result<T> r) => DoSomething(r.Error));

[2016-08-24 16:00] vkhorikov commented on #7
Was out for several days, haven't had a chance to merge the PR.

It looked good, however. Did you find some issues with it? Or why did you close it?

[2016-08-24 17:17] peteski22 commented on #7
Hey Vlad,

Apologies, I think I had missed quite a lot out as I didn't see the
Left/Right operand stuff only the ResultExtensions.cs main class :( so I
pulled the pull request.

I've been having quite a lot of trouble using the extensions, I think it's
more user error due to coming from a more imperative style of programming.

I'd be happy to chat about it with you if you'd like?

Thanks
Peter

On

[2016-08-25 01:13] vkhorikov commented on #7
Hi Peter,

Don't worry about the Left/Right operands, they're just overloads for various async combinations. You can add the overloads you care about and I'll go through the code base and fill in corresponding overloads for them.

Regarding the trouble using the extensions, could you elaborate on what they are? Would be glad to help with that.

Cheers
Vlad

[2016-08-29 17:52] vkhorikov commented on #7
I've added the overload for OnFailure you were trying to add recently ([lines](https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/master/CSharpFunctionalExtensions/ResultExtensions.cs#L151-L158)). It went live with the version 1.6.1. Let me know if you have any questions, I'd be glad to help with them.

[2016-09-20 22:15] beppe9000 opened #11 "Are these extensions suitable for use with VB.Net?"

[2016-09-21 16:36] vkhorikov commented on #11
Yes, they should work perfectly fine in VB.NET too.

[2016-09-24 10:27] beppe9000 commented on #11
Thanks! I also had another question. Is there a way to implicitly cast a Result to Result<T> ?

[2016-09-26 14:05] vkhorikov commented on #11
1) The conversion works only from `Result<T>` to `Result`, not the other way around. That's because you'd need some value in order to transform a success `Result` to a success `Result<T>`. As for failure conversion, you'd need to do `Result.Fail<T>("object is null")`

2) Only a success result can hold a value as of the current implementation.

[2016-09-28 20:24] beppe9000 commented on #11
Thanks for the information!

[2016-09-28 20:24] #11 closed

[2016-10-30 20:35] alex-erygin commented on #5
Now it forks perfectly for .NET and Universal Windows Platform. Xamarin and .NET Core not tested yet.

[2016-11-28 19:51] gregberns opened #13 "Maybe with Structs"
Is there any way to support structs with Maybe?

I removed the 'where T : class' from the code but then I found this issue:

[code]

I want to make Account a struct  because I need to use use Entity Framework and its use of references (not immutability) is making my life crappy. So I tried to use structs for value passing, but now I can't seem to use Maybe.

Any suggestions you have would be great

[2016-11-29 18:15] vkhorikov commented on #13
Hi @gregberns . Structs in .NET are inherently non-nullable, you can't assign null to an Account variable. This is why I originally added the restriction and this is why you are getting true instead of false.

Can you elaborate on your situation? It seems to me that just making `Account` a struct should be enough for you to make it non-nullable, no need to use Maybe here.

[2016-11-29 18:34] vkhorikov commented on #13
Ah, I see. You can use `Nullable<>` for that. For example, declare a repository method like this:
`public Account? GetById(int id)`
and this will show the clients of your code that the method can return an empty value. Note that `Account?` is a short-cut and equivalent to `Nullable<Account>`. `Nullable<>` itself is a built-in type which plays the same role as `Maybe` but for structs, not reference

[2016-11-29 19:10] gregberns commented on #13
Ah, that may work, Thanks!!

[2016-11-29 19:10] #13 closed

[2016-12-05 16:57] macfarmw opened #14 "Need help choosing Result or Maybe"
I am using the extensions for a method that gets some data from another system.

The 3 possible results of calling this method are:
1. The data is found and returned.
2. No data is found for the given parameter values but the connection and query worked.
3. The database connection and/or query failed for some unexpected reason so we don't know if the data exists or not.

If I use **Maybe<DataObjec

[2016-12-05 22:08] vkhorikov commented on #14
Hi Matthew,

Yes, `Result<Maybe<DataObject>>` is exactly what I recommend you use, and that is what I use myself in similar situations.

The guidelines here is that if the outcome of the operation is stable, meaning that it depends only on the presence of the data in the external system, use `Maybe`. If the outcome may vary and depends on some secondary attributes, such as network connectivity, us

[2016-12-05 22:22] macfarmw commented on #14
Thanks for your reply. Yes that is very helpful.

[2016-12-09 13:54] #14 closed

[2016-12-11 19:48] macfarmw opened #15 "How can I distinguish between types of failures with Result?"
I am using the ResultExtensions in a web API project. No matter what type of error happens in the railway oriented series of calls I am returning 400 (Bad Request). This is convenient and sufficient for now. Here is an excerpt of the code:

[code]

I would like to improve the accuracy of my responses and return 500 for system errors and 400 when the error is caused by the input data. Because the e

[2016-12-13 12:54] vkhorikov commented on #5
Should be working in .NET Core now.

[2016-12-13 12:54] #5 closed

[2016-12-13 13:16] vkhorikov commented on #15
I would recommend putting a single generic handler to the very top of your execution stack to handle all 500s. The situation here is similar to exceptions. 5xx errors in web services are basically unexpected exceptions in the "exceptions terminology". Essentially, all 5xx errors mean bugs in your system because they are caused by the server itself, the user has nothing to do with them.

The moment

[2016-12-15 14:44] macfarmw commented on #15
OK. Now I get it. I was trying to handle expected and unexpected errors with Result.Fail so it was really making the code messy. I have added the global error handler that logs the error details to Elmah and sends a generic error with HTTP status 500. The version of web API I am using (2.2) has a nice facility for global errors that was easy to setup. Perfect solution!

Thanks for your help and fo

[2016-12-15 14:44] #15 closed

[2017-02-09 01:09] solvingJ opened #16 "Best Method to "Peek" Into a Result for Logging"
With Java streams we have a passive stream operation called "peek" which passes the elements un-touched to the next operation (lambda should return void):

list
.stream()
.peek(element -> log.info("element = " + element))
.map(element -> element is unscathed)

I haven't seen an equivalent in the library.  Does one exist?  If not, hard to add?  It's like ensure but returns void rather than bool?

[2017-02-09 01:27] solvingJ opened #17 "Is there a "flatMap" method in the library?"
I searched the repo and found no reference to flatMap, but perhaps Map is overloaded with similar functionality or something.  Can you please clarify?

I am running into scenarios like this and perhaps flatMap would be the typical functional solution.

FirstTask()
    .Map(inputObject => CreateSomeResultOfClient(inputObject))
    .Map(client => client.DoSomething())             <----Doesn't work b

[2017-02-10 00:35] vkhorikov commented on #16
Yes, there is an overload for OnSuccess and OnFailure methods that accept an Action and return the previously passed result, so that you can execute some side effect in the middle of the chain. Here's one for example:

[code]

[2017-02-10 00:39] vkhorikov commented on #17
In the library, Map is basically just for transforming a `Result<T>` into a `Result<K>`, this is not a fully-fledged Map from functional languages. Right now, there are only versions of this operation in OnSuccess and OnFailure methods. I guess what you are looking for is an overload for the OnBoth method so that the 3rd line in your sample would execute despite the previous outcome?

[2017-02-10 01:23] solvingJ commented on #17
Indeed this would not be a canonical Flatmap either, but in this case we would want a FlatMap to expect a Result<Result<T>> and just give us the object of type T in the lambda if the inner Result was a success. I think the harder part would be that we would want an inner Fail to be handled the same as if it were a top level fail as well.

If that doesn't make sense I can write up a proper example.

[2017-02-10 01:26] solvingJ commented on #16
Great answer, it actually addresses a number of other questions I have.  This makes it so simple and flexible that it will have a number of uses, particularly in integration testing.  Thanks!

[2017-02-13 16:43] solvingJ commented on #17
While this worked easily several times, in other cases it's throwing an exception that "There is no value for failure".

[2017-02-27 22:13] solvingJ commented on #17
Since result.Value only works if there are no errors, I'm now using this instead:

                .OnSuccess(result => result.Value)
                .OnFailure(error => Result.Fail(error));

Obviously this is sub-optimal for a few reasons.  Not only is it unsightly, I also think I'm losing the type in the Fail condition.  This might  not be an issue though, I'm not sure.

Eventually I'll probably

[2017-03-02 06:55] solvingJ opened #18 "Result.Combine does not work with Result<T>[]"
Pretty clear issue here, just needs an overload.

Result<string>[] test1 = new Result<string>[] { Result.Ok("one") };

Result.Combine(test1);
//Throws "Argument 1: cannot convert from 'CSharpFunctionalExtensions.Result<string>[] to 'string'"

Result.Combine("dummy", test1);
//Throws "Argument 2: cannot convert from 'CSharpFunctionalExtensions.Result<string>[] to 'CSharpFunctionalExtensions.Result'

[2017-03-16 07:35] solvingJ commented on #18
Fixed in PR:  [](https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/20)

[2017-03-16 07:35] #18 closed

[2017-03-16 07:36] solvingJ commented on #17
It turns out that the solution was just to use OnSuccess instead of Map.

Map should only be used if the function following it returns a value which does is not of type "Result"

[2017-03-16 07:36] #17 closed

[2017-03-16 07:36] #16 closed

[2017-03-20 21:30] Abhith opened #22 "VS2017 compatibility : Tests project need to be migrated"
If we try to open the solution in visual studio 2017, the tests project will not load since it configured via project.json & .xproj. Which need to be migrated to the .csproj format.

[2017-03-30 23:20] TomasJuocepis opened #24 "Install failed - could not install package ... into a project that targets '.NETFramework,Version=v4.0'"
Trying to install the package into .NET 4.0 project, but it fails. Is .NET 4.0 not supported or is something else going wrong?

Error:

[code]

[2017-03-31 17:27] esteimanuel opened #25 "Name collisions"
Hi Vladimir,

Currently I am trying to use your CSharpFunctionalExtensions library, but I am getting a name collision when I try to use it as follows.
[code]

Compiler warning:

'AsyncResultExtensionsRightOperand.Ensure<T>(Result<T>, Func<T, Task<bool>>, string)'
and
'ResultExtensions.Ensure<T>(Result<T>, Func<T, bool>, string)'

[code]

It is not a problem, though I prefer the cleaner look of jus

[2017-04-05 01:31] #22 closed

[2017-04-05 01:45] vkhorikov commented on #22
Thanks for posting the issue, Abhith. This should be fixed now.

[2017-04-05 02:38] vkhorikov commented on #25
Hi Esté. Thanks for the issue report and thanks for the nice words! :)

You can definitely create a pull request for this issue. Let me know if you have problems with it, I can look at it too.

[2017-04-05 02:44] #7 closed

[2017-04-08 14:24] vkhorikov commented on #24
Hi Tomas, sorry for the late reply. Yes, the library has compatibility issues with .NET 4.0, I'll try to fix them shortly. It the meanwhile, you might be able to use this forked version: CSharpFunctionalExtensions.Net40

[2017-04-12 14:21] ResiEvil opened #27 "Strong Name"
Is it possible to strong name the assemblies?

Many Thanks

[2017-04-17 21:01] vkhorikov commented on #27
I would prefer not to string name the package. Could this help it your situation: https://github.com/dsplaisted/strongnamer ?

[2017-04-21 23:24] solvingj opened #28 "Question about Maybe and Enums"
I think I just determined that Maybe can't be used to hold enum's because it can currently only hold reference types, is this correct?

If so, I think it's because you've constrained T to "class" specifically.

`public struct Maybe<T> : IEquatable<Maybe<T>> where T : class`

Can you think of any easy way to achieve an enum type in a Maybe?

For the record, I was trying to implement text parsing ad

[2017-04-24 20:47] vkhorikov commented on #28
You are right, `Maybe` in the current implementation is for reference types only. For Enums, I'd recommend using the built-in `Nullable<>` type. For example:

`MyEnum? myEnum = MyEnum.SomeValue;`

The compiler automatically transforms `?` into `Nullable<MyEnum>` here.

[2017-04-25 07:06] StefH commented on #28
Indeed, why not just using `Nullable<>` instead of `Maybe<>` in all your code?

[2017-04-25 10:29] vkhorikov commented on #28
@StefH because `Nullable<>` is restricted to only Value Types (structs).

[2017-04-26 16:16] StefH commented on #28
Which types are not supported?

[2017-04-26 16:18] vkhorikov commented on #28
Could you please elaborate?

[2017-04-26 21:19] solvingJ commented on #28
@StefH reference types, such as classes for example.

[2017-05-03 16:26] manuel-ornato commented on #28
Same here, I often find myself stuck with patterns like:
`MaybeVar.Select(v => v.IntProp).Unwrap(42);`
(where MaybeVar is a `Maybe<T>` and `IntProp` is an `int` property of `T`) failing because of that limitation.
So I have to go through `if(MaybeVar.HasValue) ...` that doesn't feel very 'Monadic'...
The duality betwwen `Maybe<RefType>` and `Nullable<ValType>` doesn't seem to allow for fluent cons

[2017-05-05 02:49] vkhorikov commented on #28
@manuel-ornato Great point. My initial inclination was that having two competing types (`Nullable<>` and `Maybe<>`) would bring confusion. But now that I think more about it, it makes sense to remove this limitation in order to enable fluent syntax with .NET value types.

I'll try to remove it soon and republish the package.
@solvingJ , feel free to send a pull request too if you will.

[2017-05-05 12:58] jonny-novikov opened #31 "Add travis or appveyor yaml to run tests on CI server"
I suggest Appveyor for .NET projects but you can use both via git hooks

[2017-05-05 20:46] solvingJ commented on #28
I think this makes a lot of sense. I'll give it a try ASAP.

[2017-05-05 20:49] solvingJ commented on #25
I'll try to work on the overload for the Ensure case, however I don't support adding Async in this case.  I think it's a good idea however to add more indications about the implicit async handling on the homepage and examples.

[2017-06-21 10:14] Roelant86 opened #33 "typed fail excepion"
Is it possible to create an additional overload for typed failed exceptions? As far as I can see, only an error-message is supported. But the type of exception is for example easy for unit-testing :)

cheers!

[2017-06-26 11:46] vkhorikov commented on #33
Hey there!

I would recommend segregating non-recoverable failures that should be represented with exceptions from excepted failures that are best expressed with `Result`. Here I wrote more on this: http://enterprisecraftsmanship.com/2017/03/13/error-handling-exception-or-result/

Regards,
V.

[2017-07-03 12:46] dragan-stepanovic opened #34 "Maybe.None could be added"
I could be wrong, but when I want to instantiate Maybe without value I have to use
`new Maybe<SomeType>()` syntax.
For convenience reason could `Maybe.None` static method be added like in some other Maybe libraries?

[2017-07-05 01:45] vkhorikov commented on #34
You can use something like this: `Maybe<SomeType> m = null;`
But I agree, `Maybe.None` would be beneficial as well.
Feel free to submit a PR. Or I will add myself in a little while.

Cheers
Vladimir

[2017-07-09 22:22] draptik opened #35 "Proposal: Make Result.Error generic (or object)"
Currently Result.Error is of type string.
IMHO it would make the Result object more expressive if Error where generic (or object).

Use case: Collecting error messages.

see http://enterprisecraftsmanship.com/2016/06/24/c-functional-extensions-nuget-library/#comment-3308367961

[2017-07-12 11:14] #34 closed

[2017-07-30 13:14] crehmann opened #37 "Result with Task Cancellation"
Hi Vladimir,

I really enjoyed your PluralSight course and I really appreciate the thoughts which went into this library.
However, I am not entirely sure how to use the Result struct together with a cancelable task (e.g if I have a method, that returns a Task<Result<SomeClass>>).
How would you handle the task cancellation? Returning an error result seems to be somehow wrong. I also though about re

[2017-07-31 11:50] vkhorikov commented on #37
Cancellation looks like a legit outcome of some operation, so I agree Result.Fail would be inappropriate here. I think I would use Task<Result> where overarching task has `Canceled` status, and the inner `Result` is `Ok`. The reasoning being that the method itself did everything well (hence the `Ok` result) and it's the client who requested the method to stop.

[2017-08-06 11:03] rutkowskit opened #38 "Proposal: Add implicit operator T(Maybe<T> value)"
I think it would be nice to be able to implicitly convert `Maybe<T>` to T.
By adding this piece of code to `Maybe<T>`:

[code]
it will be possible to do something like this:
[code]

It will also allow passing directly Maybe<T> to functions with T parameter.

[2017-08-06 16:32] vkhorikov commented on #38
An implicit conversion should signalize that the conversion itself is safe, i.e. there can be no exceptions while doing it. Here, a conversion from `Maybe<T>` to `T` can result in an exception if the maybe is empty.

However, an explicit conversion should be good. This way the client knows there's a potential for a problem but if he's willing to take the risk, he can still do that:
[code]
This wou

[2017-08-06 17:41] crehmann commented on #37
I agree, the Task<Result> fits quite nice and seems to be a better choice than Result<Maybe>.

[2017-08-06 17:41] #37 closed

[2017-09-12 02:40] leandromoh opened #39 "Func<T> to Result<T>"
Hi! I have a personal project with a class similar to `Result<T>` and I have the following method, which is used to wrap code on `Result `structure.

I am planning to submit a PR for this. What do you think?

**Code**

[code]
**Usage**

[code]

[2017-09-12 11:57] vkhorikov commented on #39
`ToResult` itself looks good but beware about its usage. I'd recommend not nesting one method into another the way you did (`ToDTO(Repository.GetById(key))`) as it makes it unclear which of the two methods is supposed to fail. Here's a better usage sample (assuming that it's the repository that fails here):
[code]
Also, I would only recommend doing that for code code you don't have control over, s

[2017-09-26 14:52] FrancoisM commented on #25
On the same note Resharper keeps complaining when I use
` .OnSuccess(this Result result, Action action) `
because it thinks I'm using
`Result<T> OnSuccess<T>(this Result result, Func<T> func)`
as when I use lambda for Action to set some field value e.g
`() => myField = myFieldResult.Value `
it thinks I meant
`() => { return myField = myFieldResult.Value;}`

[2017-09-26 15:15] solvingj commented on #25
FYI, I don't think I ever got around to doing what I wanted, and won't for quite a while.

[2017-09-26 15:47] FrancoisM commented on #25
too bad, suffixing with Async was the way to go.

[2017-10-19 18:37] valainisgt opened #40 "Cannot Access Maybe<T>.None on .NET 4.6.2"
Hello,

I am using your library within a .NET 4.6.2 project and cannot access the Maybe<T>.None static property.

The following does not compile (error is: 'Maybe<MyClass>' does not contain a definition for 'None'):
`Maybe<MyClass> none = Maybe<MyClass>.None;`

But this does:
`Maybe<MyClass> none = null;`

What's going on here?

Thanks,
Greg Valainis

[2017-10-24 11:40] vkhorikov commented on #40
Hi Greg, thanks for the ticket. I need to push a new version of the library to NuGet. Will do that shortly.

[2017-11-07 13:21] FrancoisM opened #41 "Json serialization of Result"
I can't return Result from a webapi as in case of success, Error throws an exception of type 'System.InvalidOperationException'. Why not just return string.empty?

[2017-11-07 13:34] FrancoisM commented on #41
Here is what I ended up using:

[code]

[2017-11-10 14:10] jaibeales commented on #41
I agree with this, I'm having similar issues basically it's not Serializable.

[2017-11-14 16:09] vkhorikov commented on #41
I'd recommend having a separate structure for the data returned by API. Something like this: https://github.com/vkhorikov/AnemicDomainModel/blob/master/After/src/Api/Utils/Envelope.cs

Result is not actually meant to be used as a data contract.

[2017-11-16 19:41] LRFalk01 commented on #41
I don't know if this helps you guys, but I wrote an IHttpActionResult that handles the Result object. It returns 400 on Result.IsFailure and 200 on Result.IsSuccess. The 400 error message is whatever Result.Error is. If it is a Result<T>, the Result.Value is sent as the body of the 200:

I have extension methods at the bottom so I can call them in my ApiController as follows:
return this.Result(re

[2017-11-16 19:54] FrancoisM commented on #41
This in line with Envelope which I finally use in lieu of my previous
ResultDto.

Le jeu. 16 nov. 2017 à 20:43, Lucas Falk <notifications@github.com> a
écrit :

[2017-11-16 20:46] jai-avalara commented on #41
Whilst I agreee with above comments re not returning this in the API, I would still say if you see ISerializable being implemented you would expect that class to be Serializable. I guess you could argue it does't have the [Serializable] attribute therefore doesn't support serialization, but really it's just a bit surprising it isn't.

By the way how I discovered this was not through trying to retu

[2017-11-16 20:48] jaibeales commented on #41
Whilst I agreee with above comments re not returning this in the API, I would still say if you see ISerializable being implemented you would expect that class to be Serializable. I guess you could argue it does't have the [Serializable] attribute therefore doesn't support serialization, but really it's just a bit surprising it isn't.

By the way how I discovered this was not through trying to retu

[2017-11-16 21:16] vkhorikov commented on #41
@jaibeales feel free to submit a PR. Although I personally don't use `Result` in a situation that require serialization, I don't see any harm in having this functionality either.

[2017-11-18 12:48] vkhorikov commented on #40
The new version is out, please try it out. Thanks.

[2017-11-22 14:17] mlmathews opened #42 "Suggestion: tag versions"
I'm trying to see what has changed between the 1.7.1 and 1.8.0 nuget package versions. Tagging the versions would help with that considerably.

[2017-11-22 14:20] vkhorikov commented on #42
That's a good point. Will try to do that for later versions.

[2017-11-27 12:18] solvingj commented on #33
One great feature of this library is extensibility/modularity/composibility, because it is mostly based on extension methods.  I was able to easily experiment with a few iterations of typed extensions internally with some success, but I wasn't confident enough to propose/contribute them.  I later went on to read about some more "experienced" strategies typed exception handling in C# (in the langua

[2017-12-01 02:45] mjharwood commented on #24
Support for .net 4.0 is available as of v1.8.1

[2017-12-01 03:43] #24 closed

[2017-12-06 14:40] #40 closed

[2017-12-06 14:41] valainisgt commented on #40
Did not mean to re-open.  Was unaware that value types were not supported by Maybe<T>

[2017-12-19 07:21] FrancoisM opened #45 "Maybe.None doesn't work with Tuples"
Contrary to what I expected, `Maybe<(ClassA, ClassB)>.None.Hasvalue` is true.

It's more an information than an issue and surely I could try a PR to support tuples but tought it'd be good to mention it somehwhere.

[2017-12-19 14:04] paulvanbladel opened #46 "How using OnSuccess/OnFailure inside an linq aggregate function"
[code]
So OperationOnOrder returns Result<SomethingElse>
Now, the problem is that I can not "jump out" when OperationOnOrder returns failure, I can only return a decimal value (which sum can handle), so what I do this return 0, but I want to return failure rather than 0.

Any suggestion?

[2017-12-21 15:54] vkhorikov commented on #45
Sure, feel free to submit a PR

[2017-12-21 16:04] vkhorikov commented on #46
How about this?
[code]

[2017-12-23 00:40] paulvanbladel commented on #46
Well, the processing should return as erroneous the first time it encounters an error. Not sure if your version has that behavior. I'll try it out first.

[2017-12-23 13:32] vkhorikov commented on #46
Ah I see. These might help then: `Result.FirstFailureOrSuccess(Orders.Select(x => OperationOnOrder(x)));`

[2017-12-23 15:04] paulvanbladel commented on #46
Cool. Very nice. Thanks Vladimir. Enjoy the end of year period.

[2018-01-08 00:30] solvingj opened #47 "1.8.0+ Breaks at least one Ensure Overload"
The following worked on 1.7.1 but I just updated to 1.8.1 and now it fails to match the appropriate overload on ensure.

Here was my original code:
[code]
`AcquireTokenAsync() ` returns `Task<Result<T>>`

Heres the overload it used to match in `AsyncResultExtensionsLeftOperands.cs`
[code]

My guess is that it's related to the new param `bool continueOnCapturedContext = false`, but in theory the de

[2018-01-14 00:54] solvingj commented on #47
Similar issue with `Result.Map` and Result.OnSuccess` overloads.  Rolling back to 1.7.1 fixes.  Also adding this overload locally fixes `Map`, the `OnSuccess` equivalent probably fixes it as well:

[code]

Again, I'm confused because i re-forked and found the overloads exist in the source code on the master branch.  They just won't resolve from my project on 1.8.1.  Any ideas?

[2018-01-20 00:59] desarrollo03TR commented on #38
If you are doing that, then why not to use the object directly? The idea behind Maybe/Option is avoid nulls and exceptions.

I have my own Option type and I force my self to not use the value directly, I have some extensions methods.

for example:
var opc = "hello".ToOption();

// getting the value or the default value of T is no value:
var x = opc.OrDefault();

// getting the value or another val

[2018-01-27 19:15] rightdirection1 opened #48 "Sign Nuget Package Assembly with strong name"
When using the the package in an asse,bly which is signed with strong name, I am not able to do so.
Could you please sign it?

[2018-01-29 13:35] vkhorikov commented on #48
I'm afraid I wouldn't be able to do that. Try this solution: https://github.com/dsplaisted/strongnamer

[2018-01-31 20:40] BennieCopeland opened #49 "Calling an async method OnSuccess"
Is it possible to call async methods, or do I need to use `Result` or `Wait()`?

[2018-02-01 20:12] vkhorikov commented on #49
It should work with async operations too. Check out examples here: https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/master/CSharpFunctionalExtensions.Examples/ResultExtensions/AsyncUsageExamples.cs

[2018-02-03 21:03] k3vinco commented on #38
Here are my two cents as an FP amateur:

If you want to use the wrapped type you could do:

1. Use a 'Match' function. This is what you would want use to get the wrapped value out of your Maybe. You should only really use it at the end of your chain.

[code]

2. Use a 'Bind' function. This is your bread-and-butter function for chaining monads.

[code]

3. Use a 'Map' function. Map really only defi

[2018-02-09 18:50] BennieCopeland commented on #49
I've be playing around with it now, and I think I've found an issue, or I'm not using it right. My code looks like the following:
[code]

The first `OnSuccess` is using `public static Result<T> OnSuccess<T>(this Result result, Func<T> func);` instead of `public static Task<Result<T>> OnSuccess<T>(this Result result, Func<Task<Result<T>>> func, bool continueOnCapturedContext = false);`

[2018-02-16 20:17] vkhorikov commented on #47
@solvingj Could you post the full source code? I'll try to figure out what's wrong

[2018-02-16 20:22] solvingj commented on #47
Sorry, refactored out many commits ago :(

I will try to create a reproduction later tonight .

[2018-02-18 14:45] BennieCopeland commented on #49
I've found that if I change the first `OnSuccess` to `OnSuccess<User>` it works.

[2018-02-20 10:59] BennieCopeland opened #50 "Combine<T> doesn't return Result<T>"
Shouldn't `Combine<T>` return a `Result<T>` instead of `Result`?

[2018-02-20 11:04] BennieCopeland commented on #50
I realize now, how would you know which `T` to return?

[2018-02-20 11:04] #50 closed

[2018-03-01 04:27] leblancdavid opened #51 "Adding an implicit operator for T to the Result<T> class to get the value?"
I was wondering if this would be a good addition to the `Result<T>` class:
[code]
The benefits of this implicit operator removes the need for doing `result.Value` in many places. For example:
[code]

The other benefit is you could rename your `var` names:
[code]

I've noticed I find myself passing the result into other methods and forgetting the `.Value` (which obviously causes a compile error). A

[2018-03-01 15:32] vkhorikov commented on #51
An implicit conversion should signalize that the conversion itself is safe, i.e. there can be no exceptions while doing it. Here, a conversion from `Result<T>` to `T` can throw an exception if the result was unsuccessful.

In FP, the usual way of preventing all those `.Value` calls is using higher order functions, i.e. the extension methods like `OnSuccess`, `OnFailure`, etc.

This might not work

[2018-03-01 17:52] leblancdavid commented on #51
Good points, I didn't think about `OnSuccess` or `OnFailure`.

However, how would the conversion from `Result<T>` to `T` fail? If the conversion returns `.Value`, you would get a null reference on result fails whether you are using the implicit conversion, or calling `.Value` if you fail to check the `IsSuccess` or `IsFailure` flags.

[2018-03-01 18:17] vkhorikov commented on #51
The current implementation throws on `.Value` if the result is not a success ( https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/b26c636f04537e2e63ab669eaf035178c133e67b/CSharpFunctionalExtensions/Result.cs ). And I believe it should stay this way. Calling `.Value` is valid only if there's an actual result out there, otherwise it would introduce hard-to-catch issues like null reference

[2018-03-01 18:46] leblancdavid commented on #51
I can see how throwing an exception on the implicit call might make it hard for people to catch. Thank you for the explanation. Keep up the great work!

[2018-03-02 00:01] donamk opened #52 "Nuget Package Code Installation"
There is some project I cannot use dll file. (Such as Dynamics CRM Plugin)

In this case, source installation is really helpful (like as DryIoC and DryIoC.dll nuget pacakge)

Could you provide source installation Nuget Package?

[2018-03-02 14:06] vkhorikov commented on #52
Could you elaborate, what do you mean by source installation?

[2018-03-02 15:10] vukasinspasic opened #53 "default ConfigureAwait(false) is causing to lose thread culture"
I have a heavy usage of your functional library, it is doing a great job as part of API project. The problem I noticed is that after calling OnSuccess or ToResult on async methods current thread culture is lost because you are using ConfigureAwait(false) as default which doesn't return to thread caller, but to first available thread. I know OnSuccess and ToResult have parameter bool continueOnCapt

[2018-03-02 15:15] vkhorikov commented on #53
The primary reason was to help avoid potential dead locks where people are using methods from the library in a blocking context, such as `DoSomething().Result` where `DoSomething` returns a `Task`.

I'm actually OK with changing this behavior as people shouldn't be using `.Result` anyway and it's quite easy to avoid using it in scenarios with API.

If you could do a PR, I'd release a new version o

[2018-03-02 15:40] vukasinspasic commented on #53
Thank you very much for fast answer! I will try to make PR soon

[2018-03-05 03:22] donamk commented on #52
It is bit hard to explain with my English level. What source installation mean is when install CSharpFunctionalExtensions, Nuget package create a file(or files) and all CSharpFunctionalExctension source code in that file(s).
If my explanation does not make sense, could you install DryIoc and DryIoc.dll nuget pacakage?

This approach is very helpful when you cannot use dll file in a project.

[2018-03-11 14:28] vkhorikov commented on #52
It does make sense. I'll try to release a version with source installation. If you could point me to the documentation of how to do this, that would speed up the process.

[2018-03-15 04:32] donamk commented on #52
Unfortunately, I have no experience about nuget package creation.
However, I think you can get the idea from DryIoc.
If you look at the following link,
https://bitbucket.org/dadhi/dryioc/src/dc094c545899c7551230824d46b2fd1d1c4a5a62/NuGetSpecs/?at=default
, you can find two files, DryIoc.dll.nuspec and DryIoc.nuspec.

I hope it can give you some idea.

[2018-03-19 20:52] smblee commented on #35
Any progress on this?

[2018-03-19 20:53] smblee commented on #35
If you will approve it I will write it

[2018-03-19 20:57] vkhorikov commented on #35
That feature was actually released in 1.9.0 (`public struct Result<TValue, TError>`). Let me know if you would like to enhance it. Closing this issue.

[2018-03-19 20:57] #35 closed

[2018-03-20 19:24] smblee commented on #35
Is there an example where this can be used along with Result<TValue>, or even Result (where you just want to return Result.Ok without a return TValue)?

I have implmented something where `Result<TValue>` or `Result` will get returned from my Business layer and repository with string errors, then switching on the errors to a HttpStatusCode from the Controller layer.

The problem is, some Business a

[2018-03-23 02:54] vkhorikov commented on #53
Available in 1.10.0

[2018-03-23 02:54] #53 closed

[2018-03-23 03:09] vkhorikov commented on #35
Yeah, that's inconvenient. In functional languages, this kind of issue is resolved by having an explicit type for `void` (such as `unit` in F#), but we don't have anything like that in C#.

I'll try to come up with something here.

[2018-03-23 09:51] vukasinspasic commented on #53
Thank you @vkhorikov and @robosek

[2018-04-09 08:49] Ironbell commented on #27
Worked like a charm and solved the problem for me. Thank you very much!

[2018-04-17 09:32] alexmaie opened #58 "Result with error type"
Hey guys,
First of all a very usefull library :) .

1. When using error types (Result<int, SomeType> ) in an Onsuccess method that is calling an async method, the resulting Result is wrapped in another Result

Example
[code]
theResult will be of type Result<Result<int,ErrorType>>

If the example is not clear, please let me know and I will create a test project

I suppose that the methods in AsyncR

[2018-04-20 04:49] michael-wolfenden opened #59 "Result - How to handle async methods in the middle of a chain when the chain doesn't begin with an async method"
For example the following test doesn't compile

[code]

[2018-05-02 13:06] paulvanbladel opened #60 "How to share value between successive calls in the pipeline"
I have following method:
[code]
In the Ensure statement I need access to a result of GetCustomerBySubjectAsync.
For that reason I'm storing customerId in the very first OnSuccess method.

I'm sure there is a more elegant way?
Thanks in advance.

[2018-06-04 04:06] seroche commented on #59
I had the same question. I found a not so good workaround. What would be to have async call in OnSuccess/OnFailure?

[code]

[2018-06-04 08:36] michael-wolfenden commented on #59
Turns out the issue appears to be the compiler confusing the overloads.

Adding the `continueOnCapturedContext` solves the issue, for example:

[code]

[2018-06-04 09:01] robosek commented on #59
Another solution is to explicitly show to compiler generic type `T` `OnSuccess<T>` like this:
[code]

Then you don't have to pass `continueOnCapturedContext` argument.

[2018-06-04 09:31] seroche commented on #59
Not sure i'm following you:

With this code, .net will think I want to use Func<Guid, Task>:
[code]

That's because Publish returns Task. Adding the async/await does not help. I found two ways

` .OnSuccess((Action<Guid>)(async id => await _mediator.Publish(new UserInvitationCreated(id))));`
OR
`.OnSuccess(id => _mediator.Publish(new UserInvitationCreated()).Wait())`

Not ideal :)

[2018-06-05 22:15] michael-wolfenden commented on #59
@seroche I'm not sure what the mediator interface looks like, but this is working for me

[code]

[2018-06-16 13:37] paparent opened #61 "Maybe<DateTime> doesn't work"
Hi!

I'm trying to have optional DateTime. But when I do `Maybe<DateTime>.None`, it uses the default value which is 0001-01-01, and when I do `.HasValue`, it's true.

Thanks !

[2018-06-17 11:40] vkhorikov commented on #61
@robosek is correct. `Maybe <T> where T : class` would indeed be helpful in restricting the use of `Maybe` to only reference types

[2018-06-17 12:58] paparent commented on #61
Thanks for reply. I'm not an expert on C#, but why it should only be reference types? It doesn't make sense (or could be useful) to have `Maybe<DateTime>`, or even `Maybe<int>` ?

[2018-06-17 13:14] paparent commented on #61
Just found an old conversation on that subject (#28). So should I use `Nullable<DateTime>` ?

[2018-06-17 13:42] robosek commented on #61
In case of `Maybe<DateTime>` or `Maybe<int>` it doesn't really make sense because it can't be null so `HasValue` is always true. But if you really want to use structures with `Maybe` you can wrap your struct types in `Nullable<T>` as you pointed out. So for example instead of `DateTime` type you can use `DateTime?` which should work.

[2018-06-20 21:39] CalvinDale commented on #41
Having a Newtonsoft Json.NET-compliant serializable `Result` would be quite useful with Azure's Durable Functions for passing results between activity functions within an orchestration. Perhaps the `ResultDto` wrapper suggested by @FrancoisM would work. I haven't tried it yet.

[2018-06-21 12:33] paparent commented on #61
@robosek  Hmm ok. I thought the Maybe monad was to encapsulate either a value, or nothing.

And I'm more confused with the end of the discussion of #28 with "it makes sense to remove this limitation in order to enable fluent syntax with .NET value types.".

[2018-07-17 13:00] vkhorikov commented on #61
@paparent yeah, I've flipped from one position to the other (twice). There's no ideal decision unfortunately.  Currently, I'm in the "don't allow `Maybe` on structs" camp. `Maybe` for structs introduces conflicts with the built-in `Nullable<>` and the issue you described above. As for enabling fluent syntax, it can be done by adding extension methods on `Nullable<>` instead of `Maybe<>`.

Apology

[2018-07-24 15:26] Szychulski opened #62 "ResultExtensions, why Ensure creates new instance of Result?"
Hi, is there a reason that Ensure method creates a new instances of result?
We can just return current result object if current result.IsFailure.

` public static Result<T> Ensure<T>(this Result<T> result, Func<T, bool> predicate, string errorMessage)
        {
            if (result.IsFailure)
                return Result.Fail<T>(result.Error);

            if (!predicate(result.Value))

[2018-07-26 17:21] vkhorikov commented on #62
You are right, no need in instantiating a new one here

[2018-08-03 07:45] Wizzuriz opened #63 "Visual Studio is very slow when the method chain gets to long."
My Visual Studio is very slow. Is there anyone else that have this issue?

Some method chains have 5-10 methods and the methods themselves have some small chains.

[2018-08-03 09:37] FrancoisM opened #64 "Extension resolution"
This works:
[code]

this doesn't:

[code]

On the one that fails, R# complains that the first `OnSuccess` is missing a return statement;
Note that even on the first version I have to add ugly braces otherwise it thinks my `Action` is a `Func`.

[2018-08-23 13:29] stefano77it opened #65 "Error : Cannot implicitly convert type"
The following code:
[code]
gives me the error "Cannot implicitly convert type 'System.Collections.Generic.IEnumerable<string>' to 'CSharpFunctionalExtensions.Maybe<System.Collections.Generic.IEnumerable<string>>'"

Instead, the following code, works perfectly:
[code]

Any hint?

[2018-09-05 11:04] altmann opened #66 "Make error message separator , configureable"
We use this library in our project but we have one suggestion. It would be cool if it is able to configure the error message separator which is now the constant ", " on one central point.

For example:

    Result.SetupErrorMessageSeparator("$$");

I know, it is able to pass the error message separator on method level like

    Result.Combine("$$", r1, r2);

But this is not a solution for us becau

[2018-09-09 18:45] vkhorikov commented on #66
Don't see why not. You can create a PR and I'll publish a new version. Alternatively, I can do that myself but but that can take awhile.

[2018-09-12 11:51] altmann commented on #66
Ok, that seems fair. We will send you an PR in the next weeks/months.

[2018-09-26 13:53] FrancoisM opened #67 "Maybe<int>.None.HasValue is true"
While tracking a bug if found that Maybe<int>.None.HasValue was true whereas my expected behavior is that any None would have no values.

[2018-09-26 13:55] FrancoisM commented on #67
It's because of https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/744c14d8f5f983f189e6688b398f7aa27ad17714/CSharpFunctionalExtensions/Maybe.cs#L22

If it only works for T being a class then you should add where T: class

[2018-09-26 13:58] FrancoisM commented on #67
Or better: replace with

`public bool HasValue => _value != default;`

[2018-09-26 14:15] freakingawesome commented on #67
Comparing against `default` would have the side-effect of making zero a `None` value, which is probably unintentional.

I have submitted a [pull request](https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/68) which wraps the value inside `Maybe<T>` in a class so that `null` checks work with structs as well as classes.

[2018-09-26 14:33] FrancoisM commented on #67
Indeed in my case 0 is a `None `value but it mind not be always the case.
I'm not sure about the wrapper.
The idea of `Maybe `is to give a type to `null`. As a `struct `cannot be `null`, then I think `Maybe `should not be used with a `struct `in the first place. My mistake. I'm more in favor of `where T: class` now that I think about it.

[2018-09-26 14:57] freakingawesome commented on #67
I disagree that `Maybe<T>` is only about replacing `null`. It also gives you functor composability that otherwise wouldn't exist by using `.Select(...)`. Here's a contrived example:

    Maybe<string>.None.Select(_ => 42)

This would be impossible if we add the class type constraint, and currently this fails because the `None` maps to a `Maybe<int>` that has a value of zero, when logically it shou

[2018-09-30 18:50] #67 closed

[2018-10-02 19:36] vkhorikov commented on #67
Published 1.11.0

[2018-10-16 22:16] kitsu opened #70 "Result Try method"
I'm using your Result object with a third-party library that communicates using exceptions. I'd like to _lift_ the exceptions into a failed Result. My current code just returns a different Result from each branch of the try-catch.

I'm thinking something like:
[code]

Handling specific exceptions can be done with `ex is SomeException`, and truly unexpected exceptions can be rethrown.

This would j

[2018-10-17 11:39] freakingawesome commented on #70
I cobbled together a quick implementation of what this could look like.

[code]

It's important to rethrow via `throw;` rather than `throw x;` because the `throw;` variation retains the original call stack, whereas `throw x;` creates a new call stack.

There could be lots of variations on this theme - async, handlers that return `Result`, etc.

[2018-11-13 22:44] igor-toporet commented on #58
Yeah, we started using the Result and Railway-oriented approaches extensively at my company and for some algorithms we needed to distinguish between possible short-circuit paths. I wasn't sold to the idea of having one uber-enumeration for all errors.

This motivated me to play around trying introduce `Result<TValue,TError>` that'd be relatively easy to use in various real-life scenarios. Feel fre

[2018-12-08 11:58] golavr commented on #63
i'm very interested of using functional approach in production code
@Wizzuriz raised some very important issue
i would be nice to hear your thoughts about this

[2018-12-11 04:35] vkhorikov commented on #63
@Wizzuriz I'd recommend splitting up the chain in such cases.

[2018-12-13 09:51] saitonakamura opened #76 "Result desconstruction"
I want to propose the feature of deconstructing `Result`, so we can do
[code]
Motivation for me is the case when you have a primitive value, like `bool` wrapped in `Result` and we want to leave the monad e.g.
[code]

`serviceIsDisabled.Value` in condition looks kinda ugly to me, so i've implemented deconstruction via extension methods. It would be nice to have it in the main package.

Please, let

[2018-12-14 23:09] kitsu commented on #65
I just ran into a similar problem. I noticed there is a `From` static method on the Maybe type though, and it allowed me to work around this problem:

[code]

[2018-12-17 19:38] kostekk88 opened #77 "EqualityComparer for Maybe<Dynamic> returns not equals for Maybe<>.None."
Hi,
I came across this issue while investigating a problem in other open project (NSubstitute). After some ffiddling I think I managed to trace it to the implementation of EqualityComparer for Maybe<>.

They say code is worth 1000 words, so here is the sample :

        [Test]
        public void Bug_MaybeDynamicNone()
        {
            var compareUsingMaybeDynamic = EqualityComparer<Maybe<dyn

[2018-12-17 20:22] kostekk88 commented on #77
Ups, didnt mean to close it :)

[2018-12-18 10:05] #76 closed

[2018-12-18 12:55] #77 closed

[2018-12-18 13:03] vkhorikov commented on #77
Pushed a new version to nuget, let me know if it works for you.

[2018-12-18 16:57] kostekk88 commented on #77
This is a hell of response time! It works like a charm. Thank you.

[2018-12-26 16:04] ahryshchanka opened #79 "Add extension method Combine for IEnumerable<Result<T>> / IEnumerable<Result>"
In case OnSuccess return IEnumerable<Result<T>> required to use method:

[code]

and to do it in OnSuccess method:
`.OnSuccess(results => /*code above*/)`

It will be nice to have extension methods:
`Result<IEnumerable<T>> Combine(this IEnumerable<Result<T>> results)`
`Result Combine(this IEnumerable<Result> results)`

In this case we will have something like:
[code]

[2018-12-26 18:38] vkhorikov commented on #79
Looks like a good one, please go ahead with a PR.

[2018-12-26 21:38] grishchenkoa commented on #60
@paulvanbladel I know 2 possible solution

- you can save it in local variable:
[code]
not good solution -- side effects

- you can create `Tuples`, `new {}` or something other in each `OnSuccess` method call and return required value until you use it:
[code]
better solution because without side effect and clear code

[2018-12-27 07:48] paulvanbladel commented on #60
@grishchenkoa Many thanks. Spot on. Tuples are a great addition to the c# ecosystem.

[2018-12-27 07:48] #60 closed

[2018-12-27 15:03] ahryshchanka opened #83 "Increase code coverage Ensure methods"
Increase code coverage and add unit tests for not tested methods

[2018-12-30 09:44] a-z-hub opened #84 "Create new CSharpFunctionalExtensions asp.net code API specific"
Add new project with dependency to CSharpFunctionalExtensions for asp.net code API specific methods. For example for create results based on Result.

@vkhorikov what do you think about it?

[2019-01-03 14:26] ahryshchanka opened #85 "Add new method for create result. Result.Create(Func<bool>, error)"
I think we can extend base functionality with new method for create Result:
[code]
based on result of `Func<bool>` will executed `Result.Ok` or `Result.Fail` methods and returns new instance of result:
[code]

it will remove pieces of code:
[code]

[2019-01-05 12:01] vkhorikov commented on #84
Could you elaborate? What's the indented use case? Is it for demonstration purposes or to help with asp.net core APIs specifically? Any examples?

[2019-01-05 12:11] vkhorikov commented on #85
Sounds good.

[2019-01-05 15:56] ahryshchanka commented on #84
It is special extension methods for asp.net core.
I'll create example app with mvp of package and I'll share link.

[2019-01-05 16:47] #79 closed

[2019-01-05 16:47] #83 closed

[2019-01-05 16:48] ahryshchanka commented on #62
It issue fixed in https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/81

[2019-01-05 16:50] ahryshchanka commented on #45
This issue closed in PR https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/82

[2019-01-06 02:25] #62 closed, assigned to nobody

[2019-01-06 22:45] stefano77it commented on #61
@paparent this issue was resolved with Issue #67 and now `Maybe<DateTime>.None` works correctly

[2019-01-07 00:36] #61 closed

[2019-01-08 07:15] #85 closed

[2019-01-08 07:38] altmann opened #89 "Result.Ok(...) needs non-null value"
Hi,

I have an use case where I want to put null as value into an Result. The problem is that an ArgumentNullException is thrown if I do that.

Here is the following use case:

[code]

If null is passed into the Validate method I want to return these value with null. Null is for me a valid value. I want to return the prepared value because I have to process it further.

So what I want is Result.Ok

[2019-01-09 18:57] #89 closed

[2019-01-09 19:00] vkhorikov commented on #89
Thanks for the bug report, should be fixed in 1.15.2

[2019-01-10 06:54] ahryshchanka commented on #70
@vkhorikov is it make sense to implement this extension methods?

[2019-01-10 20:02] altmann opened #90 "Creating a result with null as value (all types, not only nullable struct)"
Hi,

I see you fixed already issue #89 which is about returning Result.Ok<DateTime?>(null). Thanks for that. Why do you only fixed it for nullable structs? I get still an ArgumentException in the following codelines:

[code]

It still works not for strings and also not for normal classes. Do you see a chance to fix this so that all types of null can be inserted into an Result?

BTW: Thanks for the

[2019-01-14 11:49] vkhorikov commented on #90
Hi Michael,

For non-structs (reference types), I recommend using `Result<Maybe<string>>`. For example:

----
Maybe<string> str = null;
var result = Result.Ok<Maybe<string>>(str);

var result = Result.Ok<Maybe<string>>(Maybe<string>.None);
----

[2019-01-14 12:54] altmann commented on #90
I knew you would say that. :)

But in my string use case the null value semantically doesn't mean an absence of the value. The null string value here in my use case is a valid value and is comparable with other valid values like "Michael or "H".

Therefore I would prefer returning a simple null value instead of a maybe. In my domain null is not a special value so i don't want handle it explicitly

[2019-01-17 02:43] vkhorikov commented on #90
That's an interesting use case. But still, I think this could be solved with an introduction of a value object. Especially as you say that `null` has a domain-specific meaning - it's good to write down this meaning explicitly in code. Something like:

[code]

[2019-01-17 07:32] altmann commented on #90
Ok, I understand that that null lead to edge cases. I try to describe our use case so that you understand that. We coded a simple ValidationEngine which we used within our ValueObjects because we have very often the same ValidationRules. The ValidationEngine is very generic (for reference types and for structs, nullable structs) and we also want to use Results within the ValidationEngine because w

[2019-01-23 13:07] #90 closed

[2019-01-23 13:08] vkhorikov commented on #90
That does make sense. I'm removing the validation and pushing a new version (1.16.0)

[2019-01-23 19:20] altmann commented on #90
Thank you very much for supporting our use case and implementing this feature. :)

[2019-01-24 07:43] linkdotnet opened #93 "ValueObject Equals throws Exception"
What is the reason behind throwing an exception if the types of two ValueObjects don't match?
As stated by [MSDN about Object.Equals](https://docs.microsoft.com/en-us/dotnet/api/system.object.equals?view=netframework-4.7.2):

I would propse just to return false. If you want I can create a PR.

[2019-01-24 14:25] vkhorikov commented on #93
Yes, I'm familiar with this implementation, and `ValueObject` had this implementation initially. I'm going back-and-forth on this issue, actually. The idea behind throwing an exception was that Value Objects are a special case. If you compare 2 value objects of different types, it always means there's a bug in the code, hence the code should fail fast.

Recently, I found a counter-example to this

[2019-01-24 14:28] vkhorikov opened #94 "Replace hash code implementation with the use of HashCode"
Need to replace the manual hash code calculation in `ValueObject` (generated with the help of Resharper) to the use of the new HashCode class from .NET Core: https://docs.microsoft.com/en-us/dotnet/api/system.hashcode?view=netcore-2.1

[2019-01-24 14:55] linkdotnet commented on #93
As stated in the PR. There are cases where comparing different `ValueObject` of different types can be the case. Newtonsoft.Json uses `Equals` to determine circular references.
Yes it is arguable if serializing ValueObjects is not an anti-pattern itself and furthermore if using `Object.Equals` is the right way for determining circular references.

[2019-01-26 14:05] vkhorikov commented on #93
Published in 1.16.1, closing the issue

[2019-01-26 14:05] #93 closed

[2019-02-07 18:51] ittennull opened #98 "Add OnSuccessAsync, OnFailureAsync"
It looks to me that OnSuccess method is crazy overloaded, there are so many overloads that it's often very easy to write code that would call wrong OnSuccess method, f.ex. I had this issue many times - I wanted to call OnSuccess that works with tasks and awaits them but I couldn't without adding 3rd dummy argument for configureAwait, otherwise the compiler would pick a wrong overload that has noth

[2019-02-08 12:58] space-alien opened #99 "new Result()"
Perhaps a consequence of using `struct` for Result:

[code]

[2019-02-08 20:33] vkhorikov commented on #99
It is. Don't think it's possible to fix it without moving away from structs, though.

[2019-02-08 21:13] space-alien commented on #99
I played around for a bit earlier and came up with this off the top of my head, but haven't tested it, and haven't considered how it would work for `Result<T>` / `Result<TValue, TError>` where I suspect things will be much trickier. Tweaks commented.

[code]

[2019-02-09 11:34] ahryshchanka commented on #94
`HashCode` available only in .net core 2.1 2.2, for .net standard * it unavailable and can't be implemented, possibly after extend `System.Runtime.dll`

[2019-02-10 14:38] space-alien commented on #98
I'm still learning how to use this fantastic library (and enjoying the process immensely), but I think I may have run into the same issue. Here's a trivial example:

[code]
The above is for this overload:
`Task<Result<T>> OnSuccess<T>(this Result result, Func<Task<T>> func, bool continueOnCapturedContext = true);`

PS: I'm leaning away from `OnSuccess()`ing my DB calls; this is just to illustrate!

[2019-02-10 17:14] ahryshchanka commented on #70
@vkhorikov looks like this issue resolved and can be closed

[2019-02-11 17:48] #94 closed

[2019-02-11 17:52] #70 closed

[2019-02-14 09:12] space-alien opened #101 "Throw a proprietary exception when accessing Value in failed state (or Error in success state)"
Just an idea, what do you think?

I'm using a custom ExceptionFilterAttribute to catch and package various application errors into an appropriate HTTP error response for consumption by my web app.

I've found myself repeatedly checking my Results for success, and then throwing an exception on failure to pass the result error message to the filter.

However, Result already does this - attempting to

[2019-02-16 09:58] space-alien opened #104 "ConfigureAwait and overload resolution"
There are quite a few issues that mention or seem to imply difficulties with overload resolution (for example, #98, #64, #59, #49, #47).

And in my case, I'm often finding it necessary to specify the `continueOnCapturedContext` optional parameter in order to overcome overload resolution problems, which I find a bit ugly.

I decided to test a theory and stripped out all the `continueOnCapturedConte

[2019-02-19 02:18] #101 closed

[2019-02-19 02:23] vkhorikov commented on #101
A separate exception type is actually a recommended way of throwing exceptions from libraries. Merged the PR, will try to push a new version this week.

[2019-02-19 02:25] vkhorikov commented on #104
Good idea!

[2019-02-19 09:33] space-alien opened #105 "Change Map() to pass through to OnSuccess()"
My impression from reading the code is that Map() merely replicates OnSuccess(), but it helps to express intent better in the chain.

To DRY up the code, implementation of Map() could be changed to act as a simple pass-through for OnSuccess().

Please see my [comment](https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/103#issuecomment-465034796) on #103, where a commit that implements th

[2019-02-19 09:47] space-alien commented on #104
PR submitted. It's worth noting that removing the optional ConfigureAwait param is a potentially breaking change, and that I opted for `false` as a new default rather than the current `true`. The reason it was `true` is in #53, however, the scenario mentioned [may no longer be relevant since .NET 4.6](https://stackoverflow.com/questions/45530837/why-is-the-culture-kept-after-configureawaitfalse).

[2019-02-19 13:55] altmann commented on #66
@vkhorikov Can you please publish a new version to Nuget. We need this new feature in the next days.

Thank you...

[2019-02-21 12:09] space-alien opened #107 "Map() with TransactionScope naming collisions"
Map() functions in ResultExtensions-TransactionScope appear to be named inconsistently, resulting in an ambiguous call error from the compiler.

[2019-02-21 12:14] FrancoisM opened #108 "IEnumerable<Result<T>> to Result<IEnumerable<T>>"
For anyone interested:

[code]

[2019-02-21 13:28] #107 closed

[2019-02-21 13:34] vkhorikov commented on #66
Published: 1.17.0

[2019-02-21 13:34] #66 closed

[2019-02-24 10:52] space-alien opened #110 "Cosmetics - generic type names"
In some places, the generic type variable names seem a bit inconsistent. How would you feel about a purely cosmetic refactoring so that the type names are consistent throughout the library? It might help new users find it a little easier to reason about all the overloads. Something along these lines:

`T` - Current or starting result type
`E` - custom error type. Maybe nicer than being `TError`fie

[2019-02-26 13:10] vkhorikov commented on #110
Yep, sounds good, feel free to submit a PR.

[2019-02-27 10:46] space-alien commented on #110
Settled on `K` for the type of new value in the end.

[2019-02-27 14:33] space-alien commented on #105
Closing as this is now merged.

[2019-02-27 14:33] #105 closed

[2019-03-02 14:40] #110 closed

[2019-03-09 09:17] space-alien commented on #104
Closing as this is merged.

[2019-03-09 09:17] #104 closed

[2019-03-10 19:37] pagratios commented on #48
Or this one https://brutaldev.com/post/net-assembly-strong-name-signer

[2019-03-14 22:47] kitsu opened #114 "Another simple utility extension: Fail"
Before I fully adopted this library I had my own shoddy imitation. I'm slowly upgrading, but I'm missing one method from my Result implementation: `Fail`.

In most cases it is trivial to just `Result.Fail(message)`, but when dealing with complex type constraints it can be a pain. For example I am fixing up a method right now that has a `Result<Dictionary<string, List<ContactInfo>>>`, and to fail i

[2019-03-15 21:43] space-alien opened #115 "Serializable Maybe?"
I have a `Maybe` property on an entity that I want to persist to DB. I'm using EF Core, and struggling with some of its peculiarities. I experimented with [Owned Types](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities), but EF wouldn't play nice with an owned `Maybe`. (Perhaps the fact that `Maybe` is a struct is part of it, but I think there are wider issues there, as my experienc

[2019-03-18 14:42] vkhorikov commented on #114
Nice workaround, I struggle with this issue myself too. Feel free to submit a PR if you are so inclined.

[2019-03-19 13:36] vkhorikov commented on #115
I didn't realize you can't use Value Conversions to convert value objects to nulls, that looks like a pretty basic necessity.

Serialization may help but only if you serialize Maybe.None into null, Maybe.Some into Some and vice versa. I.e. `Maybe<string> m = "123"` should become `"123"`, and `Maybe<string> m = null` - `null`. Default JSON serialization (something like `{Value: "123"}`) won't play

[2019-03-19 18:28] space-alien commented on #115
It would certainly be the appropriate way to do it for a clean column. Sadly, it will run into the EF Core null Value Conversion limitation.

I was toying with the same idea just as you replied :) Gave up when I realised that of course EF requires the backing field and the public property to be the same type. To work around that, we're back to Value Conversions.

Sigh. For now I'm going to write m

[2019-03-19 18:44] vkhorikov commented on #115
That's quite a bummer. Another possible solution is to switch to NHibernate ;-)

[2019-03-19 19:50] space-alien commented on #115
Next project I start.. definitely checking it out :)

[2019-04-19 21:37] linkdotnet opened #121 "Type-constraint on Maybe"
Currently the implementation of `Maybe<T>` checks for null to determine if it has an value. This makes obvious sense if you have reference-type but not for value-types.
This seems a bit inconsistent to me. I would propose one out of two options:
1. Make a reference-type constraint on the type-generic of `Maybe`:
`public struct Maybe<T> : IEquatable<Maybe<T>> where T : class`
2. Compare with the de

[2019-04-21 10:15] vkhorikov commented on #121
Could you give an example when the current implementation is problematic?

`_value` is currently wrapped into the `MaybeValueWrapper` class to avoid issues when T is a struct, hence `_value != null` should work in all situations.

[2019-04-21 16:31] stefano77it commented on #121
@vkhorikov please don't change the behavior of Maybe removing the support for struct.

I use it regularly to encapsulate int, DateTime etc and as demonstrated by issues #61 and #67 others do the same.

[2019-04-21 18:44] linkdotnet commented on #121
Oh I didn't see the part with the MaybeValueWrapper. At this point you are obviously completely right.
For me it is more a semantic "issue". What does it mean for a value-type to have no value? It seems counter-intuitiv (hence the name value type it provides always a value. So the null-check in Maybe.From doesn't make "sense" because T will be always not null).

If there are valid reasons or use c

[2019-04-22 14:00] ahedreville opened #122 "enhancement with int status value for Fail"
Hi I would request is possible to have an int Status property on the result class that could be optional set when Fail result. Is nice to have not just an string error but also an optional status int value acting such a status code for failed result

[2019-04-26 12:46] vkhorikov commented on #121
@linkdotnet Hm, I can't remember why this null check is there, could be a relict from the older version where structs were not allowed. Would be good to come up with an example where this implementation could become problematic.

The reasoning for wrapping value types with Maybe is just to unify handling of nulls in code.

[2019-04-26 12:48] vkhorikov commented on #122
There's a version of `Result` with two type parameters: a resulting object and an error type.

[2019-04-26 12:56] jcsonder commented on #122
Check the unit test _Create_error_generic_argument_is_false_Failure_result_expected_ in https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/master/CSharpFunctionalExtensions.Tests/ResultTests/ResultTests.cs: Use int instead of MyErrorClass. It's something similiar you like to have I guess.

[2019-04-29 06:16] ahedreville commented on #122
Thanks a lot y will check such overload.

[2019-05-13 19:25] ahryshchanka commented on #108
Hi @FrancoisM
I think It method already exists:
public static Result<IEnumerable<T>> Combine<T>(this IEnumerable<Result<T>> results, string errorMessagesSeparator)

[2019-05-15 16:44] AkbaraliShaikh opened #124 "On Result.Fail() I want to return the type"
Result.Fail() only takes the error string, I'm looking for something where I can pass my type while creating the Fail() like

`return Result.Fail(ApiResponse { Status = 1, Message = "Testing" });`

and OnFailure I should be able to use those values

[code]

How Can do this?

[2019-05-25 16:49] SIDOVSKY opened #125 "Proposal: Result struct providing generic error only"
**Problem:**
For some operations, we don’t need to know what the resulting value was, only the execution status (explicitly) and failure errors. There are no structs in functional Result mechanics designed specifically for such scenarios.
**Limitations of existing solutions:**
We can pass generic errors with struct `Result<T, E>`.
But it has some problems:
1. We must pass value even if we dont wan

[2019-06-03 02:45] vkhorikov commented on #125
Apology the late answer. I personally don't have any objections, looks like a good feature well worth adding to the library.

[2019-06-17 13:00] ergwun opened #126 "Why is the generic error type constrained to be a reference type?"
The following code is not permitted, since `Result.Fail<T, E>(E error)` constrains the generic type parameter E to be a reference type:

var myErrorCode = 1;
var result = new Result.Fail<string, int>(myErrorCode);

Why do the various static factory methods for creating an instance of `Result<T, E>` have this constraint (especially given that the `Result<T, E>` struct itself does not)?

[2019-06-18 02:39] vkhorikov commented on #126
It's to make sure the preconditions like `if (error == null)` in `ResultCommonLogic` work. I'm fine with changing this as long as those preconditions will continue working (i.e a client shouldn't be able to create a failed result without an error). Feel free to submit a PR.

[2019-06-23 11:59] ergwun commented on #126
Thanks. PR submitted. I included a bunch of unit tests to ensure that the checks for null errors still work.

[2019-06-26 21:06] vkhorikov commented on #126
A new version should be listed on nuget within the next couple hours: 1.18.2
Thanks

[2019-06-27 10:15] ahedreville commented on #98
can you please take a look on my stack overflow [question](https://stackoverflow.com/questions/56246749/csharpfunctionalextensions-and-railway-oriented-programming)?

[2019-07-18 12:34] altmann opened #130 "Improve Result creation"
I want to improve the creation of Result objects within this issue.

Here my scenario:
[code]

With the current version of this lib I can simplify the code a little bit and write the following
[code]
In this scenario it would work because I changed the expression (changed > to <=) but often I want to use the failing expression because it makes more sense and its easier to read and understand.

Bec

[2019-07-19 20:38] vkhorikov commented on #130
Hi Michael, I'm OK with this suggestion, please go ahead with the PR. The change from `Create` to `CreateOk` would indeed be a breaking change, let's leave it as is, `Create` looks fine as a default too.

Cheers.

[2019-07-20 06:23] altmann commented on #130
Great. A PR will come in the next days.

[2019-07-23 16:19] BillyFromAHill commented on #126
Looks like there is related issue now. Error has value ```default (E)``` in case of using ```Ok<T, E>(T value)```. But after that in ResultCommonLogic we have ```else if ((object) error != null)``` so we can't create Result with enum error type. I think, this condition should compare error with default (E).

[2019-07-23 17:49] vkhorikov commented on #126
Could you post a test that reproduces the issue?

[2019-07-23 17:50] vkhorikov commented on #130
Merged, thanks. Will push a new version this weekend

[2019-07-23 20:01] BillyFromAHill commented on #126
Yes. Just ```Result.Ok<int, int>(0);``` throws ArgumentException from here https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/0e70ff6718e2dac8e1cfa71b93aec6d63d4dfb81/CSharpFunctionalExtensions/Result.cs#L40-L41

[2019-07-24 06:40] #130 closed

[2019-07-24 13:56] yakimovim commented on #27
What is the reason why you don't want to sign the assembly? It is not very convenient to use two NuGet packages (yours and StrongNamer) instead of one.

[2019-07-29 19:32] vkhorikov commented on #126
Apology for the late reply. Please do create a PR. Thanks much.

[2019-07-30 01:28] vkhorikov commented on #27
It's mostly a relic from the older MS days: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md#1-microsoft-strong-names-their-assemblies-should-i

[2019-08-04 12:54] golavr commented on #60
@ahryshchanka second solution is cumbersome and make your code not readable
also i'm not sure if it is has no side effects
the chained OnScusses caring the value can manipulate it and cause side effects
so IMHO there is no difference in the side effects aspect
i would go with the first one since it is cleaner

[2019-08-04 13:35] golavr opened #134 "Add Tap for OnSuccess"
It was already mentioned in issue #16 and mitigate with void return of a method
but there are other cases like var assignment
and w/o going with the tuple nightmare suggested in #60

[code]

i think **Tap** or **OnSuccessTap** is required, having explicit Action and returning input Result
btw tap was borrowed from [RxJS](https://rxjs-dev.firebaseapp.com/api/operators/tap)
if it is ok with you i ca

[2019-08-06 13:21] vkhorikov commented on #134
Yep, please go ahead with a PR.

BTW, tuples aren't that bad if you use the new ValueTuple syntax, e.g (string s, int i).

[2019-08-13 19:29] space-alien opened #135 "TapIf()"
Current code:
[code]

Would this be a useful improvement, or is there already a better way?

[code]

The implication being that if the condition is false, we can return the starting result.

[2019-08-14 19:52] altmann opened #136 "Conversion of Results"
Hi,

I do a lot of conversion of results. My problem is that the following code is not very readable, especially the part ``Result.Fail<MyValueClass>(result1.Error)``.

[code]
Do you know a simple conversion? If not, I would suggest a new conversion method between results ``ToResult()``. With this conversion method the above code looks like this:

[code]

With ToResult() the already existing impli

[2019-08-14 19:56] altmann commented on #136
I added an PR with the default(T) solution.

[2019-08-19 12:08] vkhorikov commented on #135
Looks like a good one.

[2019-08-19 12:24] vkhorikov commented on #136
Hi Michael,

Is this extension only for situations with failures? I.e when you have a failed result and want to convert it to a failed result of another type?

If so, I think a better extension would be `MapFailure()`. We already have a similar one but it works on success only (see below). On the contrary, `MapFailure` would do nothing other than changing the type of the failed result.

[code]

Ch

[2019-08-21 07:46] altmann commented on #136
Yes, in 99% I need this conversion in situations which I have to convert a failed result to another type of result.

I will have a look to Map(...) and send you an PR with MapFailure(...).

Thanks...

[2019-08-23 08:34] altmann commented on #136
@vkhorikov I have now two new methods but what should I do in the success case?

[code]

[2019-08-24 15:16] vkhorikov commented on #136
Throw an exception. This method should be called on a failed result only and if it's not -- it's a bug.

[2019-08-26 10:37] space-alien commented on #136
Just a thought, because when I see...

[code]

...I find myself wondering if you couldn't express it thus:

[code]

At some point, `DoSomething()` must presumably create MyValueClass, so with this approach, any failure + error message from MyMethod would have bubbled through correctly, no mapping required.

If a method returns Result, I often find it better for cleanliness/readability to try to av

[2019-08-26 12:05] space-alien opened #139 "Maybe vs C#8 Nullable Reference Types"
I'm slowly starting to adopt C# 8, and I'm finding it practical to switch out Maybes for nullable reference types. I wonder if any scenarios come to mind where a Maybe could still be the right choice in new C# 8 code?

[2019-08-28 11:57] Kiba-kun commented on #135
I find an overload with `Func<T, bool>` instead of just `bool` also handy.
It will add the possibility to chain like this:
[code]
What do you think?

[2019-08-28 17:05] space-alien commented on #135
I like that too in most cases. Hoping to look into an implementation soon. I expect there will be a lot of overloads to cover, so need to dig into it a bit..

[2019-08-30 17:19] stefano77it commented on #134
@vkhorikov Hi, I'm following the development of this library since taking your course on Pluralsight "Applying Functional Principles in C#", but I'm seeing recently the addition of more and more functionalities totally undocumented.

Then I'm asking: how do is supposed a new user to use this library at its full potential? For example, the new "Tap" extension, how is supposed to be discovered and u

[2019-08-30 17:22] space-alien commented on #134
This looks like a really great idea, thanks for the PR.

I understand that "Tap" is borrowed from RxJS. but I wonder if it would be better for consistency if these were just OnSuccess overrides? All the new Tap methods depend on success state (of course) and I noticed that some of a few of the signatures are already covered by OnSuccess, with the same logic.

I think it might be more consistent -

[2019-08-30 18:49] space-alien commented on #134
Hmm, perhaps I'm being too hasty - I think my issue is with the consistency of the current OnSuccess methods.

Today, `OnSuccess` mostly carries out mapping functions, although there are a handful of `Tap`-like overrides that accept `Action` and operate on the result value where present. And we have a few Map signatures that simply pass through to OnSuccess.

Perhaps the long-term goal ought to be

[2019-08-31 05:33] golavr commented on #134
@stefano77it i agree that documentation is needed as this library gaining momentum.

@space-alien you nailed it, i think that refactoring to chain methods (Map/Tap etc.) is inevitable. you cannot express all operations in one OnSuccess signature since you'll get ambiguous/colliding errors. i guess it was started as educational library to explain the functional programming in C#.

[2019-08-31 11:55] space-alien opened #141 "Refactoring for the future"
The existing `OnSuccess` methods conflate a mix of "map" and "tap" behaviours. With @golavr's addition of useful new `Tap` methods, several problems with the library are starting to coalesce:

 * New users may find it harder to know when to use `OnSuccess` vs `Tap`. Some of the signatures overlap, with duplicate logic (i.e. the existing tap-like `OnSuccess` signatures).
 * `Map` might seem redunda

[2019-08-31 16:11] golavr commented on #141
@space-alien well done 👍 amazing job organizing and annotating with obsolete.
i think this is how it should look like.

[2019-09-02 07:53] altmann commented on #136
@space-alien @vkhorikov Our team don't like this railway-orientied approach in some cases. Therefore a MapFailure() method would be very useful to us.

[2019-09-02 08:36] space-alien commented on #136
I understand, but I don't think this changes my mind. Result is all about railway approach, it seems counter-intuitive for the library to add an extension whose purpose is to make it easier to break out of that approach (and usage of which depends on breaking the chain). I think this can make it harder for new users of the library to get the most out of the coding approach it is designed to encour

[2019-09-02 12:08] vkhorikov commented on #136
I'm with @altmann on this one. Not all operations can be easily represented with a chain of OnSuccess methods, for example, embedded ``OnSuccess``'s are quite hard to grasp and I personally prefer to fall back to regular `if-else` instead. `MapFailure` would be really useful in those cases.

[2019-09-02 12:22] vkhorikov commented on #139
It seems that its implementation of non-nullable reference types is less strict:

* The use of warnings instead of complication errors. This one can be mitigated by turning on "treat warnings as errors" but still, those warnings aren't raised in 100% cases.
* No way to throw an exception when converting from a nullable to non-nullable reference type like when using Fody.

Perhaps the best way to a

[2019-09-02 12:39] vkhorikov commented on #134
@stefano77it the documentation is starting to lack, indeed.

@space-alien @golavr I agree. `OnSuccess` is too bloated at this point and will benefit from the separation (with the preservation of backward compatibility).

[2019-09-02 13:06] vkhorikov commented on #141
@space-alien Great job! I agree with all 3 points. I've merged @golavr 's PR before this one, though, and now GitHub shows merge conflicts. Could you please re-do the commit? Sent you an invite to become a collaborator on this repository, this may help moving forward.

[2019-09-02 17:01] space-alien commented on #141
Thanks Vladimir

To best preserve the commit history for library users who are interested in seeing the code changes, it might be preferable to redo (force push) the master branch and then I'll remerge the MapFailure PR at the end. I can do it if you're happy with that.

Alternatively, we could merge the refactoring branch into master but then all that history is lost to the branch, and we end up

[2019-09-02 18:08] vkhorikov commented on #141
I'm fine with the force push, please go ahead with it. Thanks!

[2019-09-02 18:25] space-alien commented on #141
All done.

[2019-09-02 19:12] space-alien commented on #135
Now we have `Tap` and `Map` (#141), my gut tells me we want `TapIf`, but not `MapIf`. `MapIf` can be achieved with two calls: `Ensure` then `Map`. Combining in MapIf which will require an additional error parameter as well as the bool condition doesn't strike me as adding to readability.

Does that sound right?

[2019-09-03 01:56] vkhorikov commented on #135
`Map` probably needs 2 input functions: one for success and the other one for failure. It would then replace both `OnSuccess` and `OnFailure`. This semantics is how F# does it with its `Result` type.

[2019-09-03 02:11] vkhorikov commented on #141
Published v2.0.0

[2019-09-03 06:16] altmann opened #143 "Syntax sugar for Result.Combine(...)"
Hi,

we often use this line of code which is long and hard to read

[code]

For example in an foreach
[code]

We improved it a little bit with an extension method

[code]

A more shorter option which is also semantically understandable would be this

[code]

What do you think about operator overloading? Should I make a pr supporting this feature?

[2019-09-03 09:49] space-alien commented on #135
I've added TapIf. I also redid the Tap tests and added async tests.

@vkhorikov I'll open a separate issue where we can look at Map.

[2019-09-03 10:13] space-alien commented on #143
Please also see #145

[2019-09-03 14:39] #134 closed

[2019-09-03 14:44] golavr commented on #141
great!

[2019-09-04 09:57] space-alien opened #146 "Improving Map signatures"
I've been looking closely at the signatures we have for `Map()`.

The following signature looks wrong to me and I would imagine is unused. I propose removing it:
[code]

I also wrote some code to test the mapping syntax possibilities and found the following.

Most conversions starting from `Result<T>` or `Result<T, E>` use `Func<T, Result>` for the conversion **where the `T` func param is required

[2019-09-04 17:09] VaclavElias opened #147 "Question - Version 2.0.0"
Hi,

I see that version 2.0.0 was published. Do you plan to write any blog post or update documentation to address what's new/changed? Can I just update my previous version?

Would it be possible to give some summaries what was changed/updated when you publish a new version or a change log or anything suggesting improvements/changes and why to use them?

Thank you :)

[2019-09-04 19:16] vkhorikov commented on #146
I agree, let's remove all three.

[2019-09-04 19:37] vkhorikov opened #148 "Deprecate OnFailure(), move all usages to MapFailure"
Similar to the recent refactoring in #141, I propose to:

1. Refactor `OnFailure` into `MapFailure` and mark `OnFailure` as `[Obsolete]`. This will bring extension methods to consistency with F#'s `Result` at https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/result.fs (`MapFailure` and not `MapError` because `Error` and `IsFailure` are different members in our `Result` and `Failu

[2019-09-04 19:39] vkhorikov commented on #147
Yeah, I need to come up with a better publishing process. Simply pushing a new version is not enough.

I'll write a blog post once we settle on #148. Regarding whether you can update the version -- you can, all changes should be backward compatible, though you'll get compilation warnings and be asked to switch from `OnSuccess` and `OnBoth` to `Map`, `Tap`, and `Finally`.

[2019-09-04 23:57] golavr commented on #143
@altmann you can change it to be fully functional :), short and easy to read

[code]

[2019-09-05 00:14] space-alien commented on #146
Okay, great.

I think I've found another issue:

[code]
returns `Result<Result<K, E>>`

A number of the other mappings to/from `Result<T, E>` appear have the same problem. It's late now and my brain is shutting down, so I haven't considered solutions yet. Off the top of my head - a bunch more overloads for the benefit of `Result<T, E>` (argh).

My late night brain is also wondering if it's worth r

[2019-09-05 09:57] space-alien commented on #146
See also #125

Thinking aloud as usual, something like this..?

[code]

Haven't had a chance to dig into it but my instinct tells me the codebase could be dramatically streamlined and simplified.

[2019-09-05 14:51] space-alien commented on #146
I've revised the previous comment.

[2019-09-05 16:58] space-alien commented on #148
Suggestion (2) may not be ideal, as an extension method would complicate this usage:

[code]

An extension method would not be able to infer T type param, so user would have to write:
`resultT.MapFailure<OldType, NewType>();` which is not ideal.

We could do this:
`resultT.MapFailure(typeof(NewType))` - still a bit ugly.

I'll look into #1 in the meantime.

[2019-09-05 18:09] space-alien opened #149 "Do we need all these [DebuggerStepThrough] attributes?"
The `[DebuggerStepThrough]` attribute seems pretty inconsistently applied.

Not sure if it does much for users of the NuGet package?

[2019-09-05 19:19] VaclavElias commented on #147
Thank you Vladimir, looking forward your blog post and thanks for answering my other questions :)

[2019-09-06 09:27] altmann commented on #143
Ah great. I will try it. Thanks for your answers.

[2019-09-06 09:27] #143 closed

[2019-09-06 10:08] space-alien opened #150 "Proposal - Wrap() instead of Map(Func<T>)"
Currently, `Map()` does two different things:

1. Allows a return value `K` from a `Func<K>` or `Func<T, K>` to be wrapped in a new `Result<K>` which is then passed to the next method in the chain
2. Maps the chain onto a new Result returned by a `Func<Result>` or `Func<T, Result>`

With our current Map overloads, it is possible in some circumstances to inadvertently use (1) as follows:
[code]

I

[2019-09-06 12:27] space-alien opened #151 "Proposal to make Result a class instead of a struct"
`Result` is currently a struct. (Actually, three structs, because of `Result<T>` and `Result<T, E>` as well.)

Unfortunately, this creates rather a lot of complications.

1. Implicit conversion operators are required to convert between the different structs, since there is no inheritance. In particular, the implicit conversions from `Result<T, E>` to `Result<T>` / `Result` actually call `ToString(

[2019-09-06 14:37] space-alien commented on #150
Another option might be `MapValue()`. For the signatures that use `Func<T, K>` (i.e. the current `T` is the  input parameter), this might make be better semantically.

[2019-09-06 23:52] vkhorikov commented on #150
Technically, `Func<T>` (or `Func<T, K>`) should be treated differently from `Func<Result<T>>` (or `Func<T, Result<K>>`).

In functional languages, the former is passed to `Map`, while the latter -- to `Bind` (example from F#: https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/result.fs , more explanations from Scott Wlaschin: https://fsharpforfunandprofit.com/posts/elevated-world-

[2019-09-07 01:00] vkhorikov commented on #151
I agree, switching `Result` to a `struct` has led to a lot of issues. The only problem I see with switching it back is the loss of non-nullability, but considering the complexity reduction, this trade-off is worth it.

I like (1) better due to backward compatibility. Also, I don't quite like the word `Value` in `ValueResult`, looks bulky.

[2019-09-07 01:06] vkhorikov commented on #148
Will #151 help with (2) ? If not, I'm good with leaving it there. (1) is more important.

[2019-09-07 01:31] vkhorikov commented on #149
Let's remove it. I added it myself in the very first version thinking that it would simplify debugging. In reality, it doesn't add any value.

[2019-09-07 07:23] space-alien commented on #150
Yup, sounds good to me.

[2019-09-07 07:52] space-alien commented on #151
Great. I will keep working on it.

Regarding the name `ValueResult`, code probably wouldn't see it very often, except in method signatures where its explicitness might be a bonus. The rest of the time, in client code, the entry point is likely to be a static method on the `Result` class (e.g. `Create()`, `Ok()`, `Fail()` etc.) - or a chained method.

[2019-09-08 08:16] space-alien commented on #150
[According to NuGet](https://www.nuget.org/packages/CSharpFunctionalExtensions/2.0.0), v2 has not yet been downloaded by anyone. So rather than cluttering the codebase by marking the new Map() signatures as `[Obsolete]`, I will simply rename them as `Bind()`.

[2019-09-08 10:36] space-alien commented on #148
I've looked into this.

Our current `OnFailure` overloads are actually "on failure, `Tap`".

Meanwhile, `OnFailureCompensate` is currently a mix of "on failure, `Map`" and "on failure, `Bind`", where we have overloads that risk discarding `E` in the process (similar to those I have just removed from `Map` that disregarded `T`).

Finally, `MapFailure`, doesn't translate to "on failure, `Map`". It's

[2019-09-08 10:38] space-alien opened #152 "API review"
I wanted to review the `Result` API before moving ahead further with #148 and #151 - this gives a chance to plan any further refactoring in one place, so we have a better sense of the overall direction. Hopefully, this can serve as a starting point for some documentation too. For now, rather than fleshing this out with comprehensive descriptions, I am just going to add links to open issues and my

[2019-09-08 10:39] space-alien commented on #150
Done

[2019-09-08 10:40] #149 closed

[2019-09-08 10:45] space-alien commented on #150
This is done - per last comment, it might be good to publish v2.1.0 as soon as poss.

[2019-09-08 13:28] space-alien commented on #148
I remembered [your comment](https://github.com/vkhorikov/CSharpFunctionalExtensions/issues/135#issuecomment-527274792) on #135. I had also been thinking along these lines for a while.

One option would be to refactor as follows:

[code]

And the same principle for `Bind()` and `Tap()`:
[code]

Fortunately, I don't think any of this would be a breaking change (even with the current `MapFailure`).

[2019-09-09 09:08] space-alien commented on #150
A quick update: v2 now has a few hundred downloads. I guess the counters on NuGet lag a bit.

Let me know if you would prefer not breal the new `Map()` signatures like this.

[2019-09-09 21:21] vkhorikov commented on #152
Great overview. I like `Result.SuccessIf(bool)` better than `Result.CreateSuccessIf(bool)`. And just as a reminder - we need to keep the old `Ok` etc under the `Obsolete` status. I'm also thinking that maybe `Result.Ok()` should be left without the `Obsolete` attribute. `Ok` is too wide-spread and intuitive to get rid of it for the sake of consistency. I don't have a strong opinion here, though.

[2019-09-09 22:16] golavr commented on #152
echoing @vkhorikov very good proposal.
my vote on static result creation methods is taking the first approach.
but i think moving from struct to class and the loss of non-nullability is a major issue.
isn't it one of the pillars of this library?
struct also have the advantage of memory allocation, moving to classes might have impact on GC when dealing with lots of results.

[2019-09-10 01:43] vkhorikov commented on #148
Gave some thought to all this. I agree with your analysis. A couple points:

- Regarding naming -- how about `MapOnSuccess()` and `MapOnFailure()` instead of `OnSuccessMap()` and `OnFailureMap()`?

- With these additions, looks like we don't need `Match` and `Finally` anymore, they are replaced by ``Tap``'s and ``Map``'s.

- The current `MapFailure` doesn't follow the functional programming paradi

[2019-09-10 01:45] vkhorikov commented on #152
Regarding structs vs classes. Can interfaces help?

[2019-09-10 01:46] vkhorikov commented on #150
I'll push 2.1.0 now. Let's keep it as it is.

[2019-09-10 08:57] space-alien commented on #148
@vkhorikov

Yes, for some reason, I settled on the latter, but now I seem to be changing my mind again! I think it was because of the potential fluency in reading: `result.OnSuccessMap(ToSomething)`. But I don't feel strongly either way. `MapOnSuccess` has the advantage of bringing the actual behaviour to the front of the word.

Also my first thought, but then I remembered those methods yield a va

[2019-09-10 09:22] space-alien commented on #151
@vkhorikov

Had the same thought - I will be investigating.

@golavr

At the moment, every `Result` instance has to create its own instance of the `ResultCommonLogic` class, so we are probably already incurring some of the performance penalties of classes. Meanwhile, the vast majority of the `Map` and `Bind` overloads return a brand new `Result`. I'm still investigating this, but I'm hoping that a

[2019-09-10 12:38] vkhorikov commented on #148
I was thinking about making the two-parameter `Map()` return the underlying `T` value too, otherwise there's not much point in it accepting two functions because we tell `Map()` what to do with the result in both situations -- when it's a success and when it's a failure.

So, `Map()` should be either (1)

[code]

or (2)

[code]

And now I think I'm changing my mind too. (1) is actually a `Match`,

[2019-09-11 23:37] golavr commented on #151
agree that ResultCommonLogic impose performance penalties.
my take on this is that library should pay the maintainability discomfort in order to provide robust solution to users, even at the cost of violating the DRY principle.

regarding class vs struct
after enabling C# 8 and nullable you still get warning
new developers tend to ignore warnings

![image](https://user-images.githubusercontent.com

[2019-09-12 17:02] newacc12 opened #153 "[Question] API - Status Codes"
Can I somehow different between a Result.Fail<T> that failed because a validation error and another because the entity was not found?

Scenario: My API Layer calls my Application Layer to update an entity. The Application Layer does a couple of input/business validations and if those fail it returns Result.Fail<T> which the API converts to a 400 status code and returns to the client. Sometimes the

[2019-09-13 03:30] #153 closed, assigned to nobody

[2019-09-13 13:59] altmann commented on #152
Our teams use this library very heavily. Our vote would be

[code]

[2019-09-13 16:39] space-alien commented on #153
Instead of using a `Result` for this, I throw a custom exception (e.g. `NotFoundException`). My web API then catches this exception with a custom `ExceptionFilterAttribute`, which switches on the exception type to return the appropriate HTTP response - e.g. `404`, in this case.

For what it's worth, I take the same approach with validation errors too. In that case I throw a custom `ValidationExcep

[2019-09-13 17:45] space-alien commented on #151
Yes, I agree!

Is it reasonable for us to worry about this? If the variable is explicitly declared as nullable, then isn't the user basically saying "I'm taking responsibility for null checks on this one..." ?

[2019-09-13 18:44] dibley1973 commented on #153
@space-alien. Should exceptions not be used for "exceptional" circumstances, not validation errors which _are_ expected circumstances?

[2019-09-13 19:06] space-alien commented on #153
@dibley1973 - Well, this is the differing opinion I mentioned. ;) I agree that validation errors are not exceptional, but depending on the application, I think the benefits can outweigh the negatives. In my application: sharing common code pathways, having a single exception filter in the web API, eliminating lots of boilerplate - which improves code readability, and improved robustness: i.e. an e

[2019-09-13 19:37] dibley1973 commented on #153
@space-alien, fair play, I can see your reasoning. I'm just from the "don't use exceptions for logic/program flow" school, but there is no single "right" solution.

[2019-09-15 12:44] vkhorikov commented on #153
@newacc12 someone posted a similar question here, take a look: https://github.com/vkhorikov/CqrsInPractice/issues/5

Another way to handle this (which is my preferable way) is to return `Result<Maybe<T>>`. The outer `Result` wrapper shows that the operation can fail, and the inner `Maybe` -- that a no-value is a perfectly valid result.

[2019-09-15 14:15] stefano77it commented on #41
should be resolved with commit #118

[2019-09-16 02:25] golavr commented on #151
i opened PR changing ResultCommonLogic to struct.
so now we addressed the performance issue w/o impact on the DRY, actually there is less code to maintain.

[2019-09-16 06:26] space-alien commented on #151
@golavr Coincidentally, I worked on this yesterday as well! I took a slightly different approach - I got rid of ResultCommonLogic instances completely and put shared logic into static methods.

Having seen this, I think maybe there is merit in a "best of both" approach. I will push some code today.

[2019-09-16 12:27] MYDIH opened #155 "[Question] Use case in a WebAPI"
Hi,

I got a question about how you would use `Result` in case of a WebAPI controller. This is what I've got for now :

[code]

Let's say that I want to return something other than a BadRequest in some cases, like a 404, How would I differentiate between failure types ? I saw the exact same question in the closed issues, I still can't understand though, please advice.

Thanks

[2019-09-16 16:04] space-alien commented on #151
@golavr I've pushed a commit that incorporates your idea to refactor ResultCommonLogic to a struct along with my other DRYing efforts. I'm sorry I didn't merge your PR as it was a bit messy to try to unpick things - at least this way the change history is simpler for other reviewers.

[2019-09-16 16:07] space-alien commented on #125
I am working on adding ResultBase<E>. See also #151

[2019-09-16 16:15] space-alien commented on #152
I have pushed some commits and we now have:
[code]

The reasons for `Failure()` and not `Fail()` are consistency and better semantics. "Fail" is a verb and therefore carries incorrect connotations of having some ("failing") effect on the `Result`. Also, the failure/success flags are `IsFailure` and `IsSuccess` respectively. For this reason, `Fail` is marked `Obsolete`.

`Ok()` is not marked `Obsol

[2019-09-16 16:23] space-alien commented on #152
Updated initial post

[2019-09-16 19:53] golavr commented on #151
@space-alien not sure i understand why you didn't accept the PR.
the code you committed contains most of the code i pushed in PR #154
the only difference (DRYing efforts) i see is in serialize/deserialize which you could add after accepting the PR or even better writing a comment in the review like i did in #145
"it was a bit messy to try to unpick things - at least this way the change history is

[2019-09-16 20:00] space-alien commented on #151
I didn't mean to cause offence or to diminish your effort, and I take your point. It was just unfortunate that we worked on the same thing at the same time.

I've reopened your PR and I will try to merge it and redo my work as you suggest.

[2019-09-16 20:45] space-alien commented on #151
@golavr Okay, I've done that. Also thank you for the tip about code commenting on the PR, I will keep that in mind in future.

[2019-09-17 08:17] MYDIH commented on #155
Sorry,

Just found this : https://github.com/vkhorikov/CqrsInPractice/issues/5

I'm closing this issue

[2019-09-17 08:17] #155 closed

[2019-09-20 23:57] feliperomero3 commented on #147
Hi @vkhorikov
I'm puzzled about the transition from `OnSuccess` to `Tap` naming. How is _Tap_ a closely related word to _Success_?
English is not my first language.

PS. Congratulations on your coming [Book](https://www.manning.com/books/unit-testing)! I like your writing style, clear and focused.

[2019-09-22 00:35] vkhorikov commented on #147
Thanks much :)

`OnSuccess` has gotten too many overloads, to the point that you may get obscure compiler errors or have a result of an unexpected type somewhere in the middle of a chain of extension methods. It's been essentially split into several extensions: `Map`, `Tap`, and `Bind`. The `Tap` naming is from typescript, the other two is from functional languages such as F#.

[2019-09-23 13:12] vkhorikov commented on #155
Posted an article on this: https://enterprisecraftsmanship.com/posts/advanced-error-handling-techniques/

[2019-09-27 07:52] thomasdc opened #158 "Source Link support"
Did you ever consider adding [Source Link](https://github.com/dotnet/sourcelink/) support?
It would greatly improve the debugging experience of this NuGet package.
XML documentation on the public API would also be a great addition for consumers of the package.

[2019-09-28 00:46] vkhorikov commented on #158
I didn't know about this library. I'll have to look closer into this but it seems like a good idea.

[2019-09-28 06:07] thomasdc commented on #158
If you want, I can create a PR.

[2019-09-29 13:39] vkhorikov commented on #158
Please do.

[2019-09-29 17:05] #158 closed

[2019-10-11 02:17] rulrok opened #160 "Should ValueObject class already implement boilerplate comparison code for me?"
Hello,

I'm trying to use `ValueObject<>` to avoid having boilerplate code, but it seems that I always have to do it.

[code]

Shouldn't it work more like this other project?
https://github.com/jhewlett/ValueObject

Since I already use your package, I wanted to avoid bringing yet another one just because of `ValueObject`.

[2019-10-11 03:48] rulrok opened #161 "[usage question] Purposes of Bind and Map methods"
Hello,

I see that `Bind` and `Map` are similar in implementation.

In both cases, if result is a failure, they just return a new failure converting the type from `T` to `K`.

While `Map` internally returns a `Result.Success` (with many overloads), in `Bind` you're supposed to pass in a function which itself uses `Result.X`.

Is one a syntactical sugar for the other? They seem equivalent.

What ar

[2019-10-12 02:09] vkhorikov commented on #160
I don't quite like the approach with property auto discovery. Listing equality members gives explicitness. Also, this approach overcomplicates the base value object class and doesn't work well with collections.

By the way, there's a non-generic version of the VO in the library with a less verbose syntax: https://enterprisecraftsmanship.com/posts/value-object-better-implementation/

[2019-10-12 02:14] vkhorikov commented on #161
I recommend this article for the difference between `Map` and `Bind`: https://fsharpforfunandprofit.com/posts/elevated-world-2/

The practical reason why `OnSuccess` was split into `Map` and `Bind` is because, without clear separation between `Func<T, K>` and `Func<T, Result<K>>`, different overloads often conflict with each.

[2019-10-17 21:20] bopazyn commented on #161
I belive it is the same idea as `Select` and `SelectMany` for collections in c#, isn't it?

[2019-10-17 21:29] bopazyn opened #164 "Select and SelectMany vs Map and Bind"
`Maybe` monad implements `Select` and `SelectMany` but `Result` have `Map` and `Bind`.

This looks intentionally but i don't understand why.

`Select` and `SelectMany` allows c# developers use syntax like this:
[code]

Why don't we allow this usage for `Result`?

[2019-10-20 15:15] vkhorikov commented on #161
Exactly. `Select` is a `map` in the functional programming terminology; `SelectMany` is a `bind`.

Mixing them together would introduce the same issues `OnSuccess` fell into -- to many overloads and weird compilation errors.

[2019-10-20 15:19] vkhorikov commented on #164
Do people actually use this LINQ syntax?

`Select` and `SelectMany` in `Maybe` are a left-over from the times when `Result` didn't have `Map` and `Bind`. I'd rather replace `Maybe`'s `Select` and `SelectMany` with `Map` and `Bind` too.

[2019-10-20 18:07] bopazyn commented on #164
Look at this code
[code]

Chaining monads look promising. I would definitely love this feature for complex situations.
How would you write this the traditional way?

[2019-10-23 20:57] vkhorikov commented on #164
I think we can keep both. Mark `Select` and `SelectMany` with `[Obsolete]` with a comment that they are only for LINQ query syntax. Though need to make sure it won't result in compiler warnings for that query syntax.

[2019-10-23 22:41] bopazyn commented on #164
Pr #168 has been created. Marking this methods with `[Obsolete]` attribute causes compilation warnings.

[2019-10-27 02:19] vkhorikov commented on #164
Looks good with a minor issue, commented on the PR.

[2019-10-28 05:41] stefan-agache opened #171 "Usage question; changing the implementation to railway oriented programming"
Hi, I'm not sure if this is the best place to ask questions, but I've started a project some time ago using the version 1.17 of this nice framework. I've come across a simple problem that I jut can't get my head around. You can check the code below. I'm trying to transform a simple if/else to the Railway approach of writing the code. The problem, from what I can see, is that I cannot make the OnFa

[2019-10-28 07:19] bopazyn commented on #164
The PR was successfully marged.

[2019-10-28 07:19] #164 closed

[2019-11-13 15:37] space-alien opened #174 "Risky Tap signatures"
**Edited 11 Mar 2020**

`Tap` always returns the starting `Result`. `Tap` can also be used on a `Func`, in which case, the return value of the `Func` is ignored.

I just ran into an issue which highlighted a problem with this approach.

Consider the following:

[code]

This subtle ambiguity is slightly troubling, although the consequences may not yet be problematic. But now consider what happens w

[2019-11-18 03:59] vkhorikov commented on #174
Apology for the late reply. I actually prefer (2) -- it's how the library solves similar issues elsewhere.

I don't have a strong opinion, though, and open to (1). Do you have examples of how removing these overloads improves code quality?

[2019-11-22 10:19] golavr commented on #171
using new version and according to your flow, you should change After() to:
[code]
OnFailureCompensate was intended to switch from fail rail to success rail
in your case its acting as compensation for A() failure

[2019-11-22 10:50] stefan-agache commented on #171
Hi, thanks for your reply.
Using the ternary operator only moves the conditional statement inline and doesn't really help with the clarity of the code. We'll probably use something the likes of

        public static Result<T> OnSuccessIfElse<T>(
            this Result result,
            Func<Result<T>> successFunc,
            Func<Result<T>> failFunc)
        {
            if (result.IsSuccess

[2019-11-22 14:29] space-alien commented on #171
Just a side note: `Result.SuccessIf(() => true, "validation failed")` is redundant. The error message is ignored.

The same effect is achieved by calling: `Result.Success()`

[2019-11-22 15:08] stefan-agache commented on #171
@space-alien
Hi, the issue that I've encountered initially had to do with some code that verified a condition. The issue appeared only when the validation succeeded so I've just replaced the condition with the value "true" for this purpose. If the validation would fail then Before() and After() would have the same value.

If I wanted a successful result I would have used Result.Ok() in version 1.1

[2019-12-02 10:57] giangpham05 commented on #135
I have been fan of this libary and I can it's improving a lot.
I landed at this issue is that I have the same feeling as @Kiba-kun
An overload with Func<T, bool> instead of just bool also handy. I know I can use Map to achieve the task but it would be better if it has something like this:
`var crmResult = await Task.Run
            (
                () =>
                _crmRepository.GetAsync<Pr

[2019-12-11 17:49] codyspeck commented on #108
@ahryshchanka

I am trying to use that method, but I don't see that method signature on the Result struct in the latest version, 2.2.2.0, on NuGet. Has that feature not been released yet?

![image](https://user-images.githubusercontent.com/14916416/70646128-e3c86300-1c0b-11ea-94e0-b3e70dd98037.png)

[2019-12-20 11:29] MikelThief opened #175 "Proposal: Introduce PrimitiveValueObject for single-property ValueObjects"
Hello,

recently i switched from using [ValueOf](https://github.com/mcintyre321/ValueOf) to this library's [ValueObject](https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/master/CSharpFunctionalExtensions/ValueObject/ValueObject.cs) class. I have a lot of single-property VOs. ValueOf made it easy for me to create them as everything i had to do was to write a single line like:
`public cl

[2019-12-20 14:08] arthg commented on #175
I tend to like the idea, I noticed the boilerplate as well.
It will be interesting to hear feedback about this suggestion.

* Where would validations happen?  In the derived class constructor?
* Should the PrimitiveValueObject be an abstract class?

[2019-12-20 14:26] MikelThief commented on #175
I didn't put any validation as original class didn't have anything related to that either (or the intent was not clear enough to me. I don't think that ctors should perform validation). I vote for static factory method. `ValueOf ` is unfortunately a bit clunky in getting around with validation. See this tiny project code for details. You will see that due to inheritance something is not right and

[2019-12-22 14:44] vkhorikov commented on #175
I like the idea too, please go ahead with a PR. Couple notes:

1) `PrimitiveValueObject` sounds better than `SinglePropertyValueObject` (more concise)
2) `PrimitiveValueObject` should be `abstract` with a `protected` c-tor.

[2019-12-25 17:51] MikelThief commented on #175
Okay, please give me some time to add it - holidays is a busy period :)

[2019-12-27 10:53] MikelThief commented on #175
@vkhorikov I have problems building the solution locally - VS indicated that ValueObject is declared twice. Am I missing something?

[2019-12-27 14:01] arthg commented on #175
@MikelThief I just pulled the repo and have no problem building the solution.

[2019-12-28 00:09] vkhorikov commented on #175
@MikelThief could you post a screen shot of the error? There are 2 implementations of ValueObject, but they shouldn't conflict with each other -- one is generic and the other is not.

[2019-12-28 20:17] MikelThief commented on #175
@vkhorikov @arthg It appeared that when i initially created a new file with `PrimitiveValueObject` inheriting `ValueObject` it was by default placed under `CSharpFunctionalExtensions.ValueObject` namespace. This had to confuse the compiler by suggesting that there is ambiguity in what `ValueObject` really is. I failed to see that yesterday late at night.

PR has been created :)

[2019-12-31 11:56] vkhorikov commented on #175
Thanks :) I'm out of town atm, will merge it on Monday

[2020-01-02 02:32] ehouarn-perret opened #177 "Functor Applicatives => equivalent of the `Validation` type and the `<!>` and `<*>` operators"
I would like to translate the F# code below which uses the `Validation` type with the `<!>` and `<*>` operators from [FSharpPlus](https://github.com/fsprojects/FSharpPlus):

[code]

I tried to get inspired by the content available [here](https://blog.leifbattermann.de/2015/09/12/error-handling-with-applicative-functors-in-f-and-c/)

But I ended up re-creating from scratch everything and I am wonde

[2020-01-02 16:13] ehouarn-perret commented on #177
Just to give you a preview of how it looks like for me now in C#:

[code]

[2020-01-05 16:08] vkhorikov commented on #175
Merged and renamed it to `SimpleValueObject`

[2020-01-05 18:51] MikelThief commented on #175
Thanks!

[2020-01-05 18:51] #175 closed

[2020-01-13 11:43] petrechitashvili opened #178 "Request to create CSharpFunctionalExtensions.Signed nuget package"
CSharpFunctionalExtensions, as of version 2.3.0, does not have a strong name / is not signed.

Can I request that you add signature to the package or create a separate signed package, if the current package needs to be unsigned?

[2020-01-14 13:41] vkhorikov commented on #178
Please refer to this issue: https://github.com/vkhorikov/CSharpFunctionalExtensions/issues/48

[2020-01-14 13:41] #178 closed

[2020-01-17 06:40] petrechitashvili commented on #48
@vkhorikov can you please elaborate on why you wouldn't be able to do that?

[2020-01-17 08:54] petrechitashvili commented on #48
@vkhorikov if you don't want to sign the **CSharpFunctionalExtensions** nuget package, why not create a separate one - **CSharpFunctionalExtensions.Signed** that will be signed?

I saw another issue like this one, likely a duplicate - https://github.com/vkhorikov/CSharpFunctionalExtensions/issues/27

[2020-01-20 19:53] vkhorikov commented on #48
Additional maintenance burden, difficulty of redirects. Not worth it overall given that almost no one strong names libraries anymore.

Two libraries wouldn't solve the issue with maintenance, and can potentially add more problems with versioning.

[2020-01-23 10:50] xkaede opened #179 "Add Task<Result<T, E>> Tap<T, E, _>(this Task<Result<T, E>> resultTask, Func<T, Task<_>> func) override to TapAsyncBoth"
Consider the following:
[code]
At first I thought the GetUserCountAsync calling in the Tap method would be waiting。
but it did not.

I check the code, then, find it invoke the method in TapAsyncLeft.cs file.
https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/1bcb4674ba72667acdfd5d98d3822120f453e1e3/CSharpFunctionalExtensions/Result/Extensions/TapAsyncLeft.cs#L92
and that method do not aw

[2020-01-29 09:26] vdasus opened #180 "Problem with ILmerge"
Hi
When i try to merge .net4.8 AnyCPU app into one exe
with last [ILMerge](https://github.com/dotnet/ILMerge) 3.0.29.6085, -
with last version 2.3.0 of CSFE -
failure with error:

ILMerge.exe gOldCleaner.exe /out:gOldCleanerM.exe /internalize NLog.dll DryIoc.dll System.IO.Abstractions.dll CSharpFunctionalExtensions.dll

An exception occurred during merging:
ILMerge.Merge:  **There were errors repo

[2020-01-31 13:19] jeremiahflaga commented on #125
Hi, is it already possible to do something like `return Result.Failure(new ErrorClass())`?

[2020-01-31 13:24] jeremiahflaga commented on #124
Hi, is there an update to this? Can we now write `return Result.Failure(new ErrorClass())`?

[2020-02-01 13:35] vkhorikov commented on #125
Unfortunately, no

[2020-02-12 08:42] #180 closed

[2020-02-20 00:26] benprime opened #181 "Tap seems limited since you cannot halt execution on failure"
Tap is very useful in that you can use it to return the passed in result and do multiple operations on a single result object. For example.

[code]

However, sometimes you would like to return the result and still depend on whether the DoWork() method failed. If you could assume that `Func`s passed to DoWork all returned the same result type as the "parent" result, that would be useful.

I find my

[2020-02-22 15:17] vkhorikov commented on #181
You should be able to use `Bind` for this. `Tap` is only for when you want to ignore the result entirely.

The reason for the separation between `Bind` and `Tap` (previously, they all were overloads of `OnSuccess`) is to separate `OnSuccess` due to it becoming too bloated.

[2020-02-23 10:29] pedromtcosta opened #182 "Result without Value type does not support Error types"
### My issue

The `Result` type is restricted to `string` error messages. In order to be able to use Error Types, we currently have to use the `Result<T,E>` type, but I often have the need for Error Types without the need for a return value.

Because the current `Result` does not support error types, I either have to use the error string to identify the type of the error, or use `Result<T,E>` with

[2020-02-23 15:06] vkhorikov commented on #182
But how would you specify the type of the error even with the interface? /cc @space-alien

[2020-02-23 20:43] pedromtcosta commented on #182
That's a good point now that I thought a bit more about it. I was thinking that the code that handles the error should cast the interface to an appropriate error type, but this has a drawback that the client code should know about the underlying type beforehand.

I am considering some other ways to implement this, as this is a feature I would really like to see in the library.

[2020-02-23 20:52] pedromtcosta commented on #182
Maybe a solution could be to modify the `Result<T, E>` to be `Result<T, IError<E>>` and add a `Result<IError<E>>`

[2020-02-23 23:19] vkhorikov commented on #182
Here are some existing proposals on this topic for reference: #151 #152

[2020-02-24 18:13] kitsu opened #183 "OnSuccessTry doesn't handle async lambda"
I've got a pre-condition followed by a try that I am translating to chained results:

[code]

On closing the expression Intellisense lights up saying it can't await type of `Result<Task>`. Seems like `OnSuccessTry` is missing the magic that made this work with other success methods.

`OnSuccessTry` also doesn't fit well with the new method naming scheme. Maybe change it to `TryMap` or something?

[2020-02-25 11:11] jeremiahflaga commented on #125
Thanks for your response @vkhorikov .  It was much later before I realized that I can use Result<T, E> instead.

[2020-02-25 14:00] pedromtcosta commented on #183
You can create a Task out of the condition in the first example, this way you can still use the railway-oriented approach:

[code]

I am not sure if there should be an extension to create a `Task<Result>` from a `Result`, which would make your first example work, but I think there should be an overload for the `OnSuccessTry` method with a `Task` parameter instead of a `Action`, this way we wouldn'

[2020-02-25 16:04] kitsu commented on #183
The problem isn't making the top-level await work, it is that the inner-most await is not propagated. The `OnSuccessTry(async` should produce a `Task<Result>`,  but instead produces a `Result<Task>`.

I have used it extensively in multiple projects and can confirm this works everywhere else in the library. This is just one corner case that got missed.

[2020-02-26 17:49] vkhorikov commented on #183
Please go ahead and submit a PR for the case that is missing (this will also require a usage example, so don't forget to include one).

[2020-03-01 10:52] pedromtcosta opened #184 "Overload for TapIf with Func<T, bool> condition"
Currently the `TapIf` extensions only accept a `bool` parameter for the condition. I think it would be convenient to also have overloads that accept a `Func<T, bool>` and `Func<T, E, bool>` for the condition. Should these overloads be added, or are there any reasons for why they're not there in the first place?

[2020-03-02 20:06] vkhorikov commented on #184
Can you give an example of one such overload implemented?

[2020-03-02 20:39] pedromtcosta commented on #184
Example of the overload implemented, with and without `async`:

[code]
And here are the usage examples:

[code]

[2020-03-03 07:40] FrancoisM commented on #184
IMO, i'd make more sense to define a Where extension and then do Where(...).Tap(...).

[2020-03-03 13:28] pedromtcosta commented on #184
I might be missing something, but wouldn't the `Where()` method have the same behavior as `Ensure()` in this case?

[2020-03-04 18:30] vkhorikov commented on #184
Ah, I see the use case now. Looks good. No particular reason for not implementing it, feel free to submit a PR.

A `Where` extension wouldn't work here because it would loose the context of what needs to be done with the incoming result.

[2020-03-05 20:54] pedromtcosta commented on #184
I will start working on that and should submit the PR on the weekend.

I am considering in which of these 2 is a better way to implement these methods:
[code]

[code]

Personally, I like the second one better because on the first implementation, the logic of `Tap` is totally duplicated. On the other hand, the second example will check if the result is successful twice.

Do you have any preferences

[2020-03-05 21:31] space-alien commented on #184
Off the top of my head: `TapIf()` calls into `Tap()` we can further avoid duplication by just passing the `Func<T, bool>` return value straight into `TapIf()`. Should also make it a one-liner per overload (at least the non async methods):

[code]

[2020-03-05 22:13] pedromtcosta commented on #184
Yes, I saw this in the current `TapIf()` implementation, but it wouldn't work in this case because if the result is not a success, an exception will be thrown when trying to get the `Value` property.

It's still possible to make it a one-liner on the non async methods by checking the `IsSuccess` property though:

[code]

I think this is the way to go, even though it makes the condition that checks

[2020-03-06 01:19] space-alien commented on #184
Ah yes, of course.

So I think your original preferred (second) option may be best after all; it is the most consistent with the approach taken on other extension methods with many signatures (i.e. keep the implementations similar to each other and as clear as possible, to help with maintainability).

[code]

[2020-03-06 23:34] vkhorikov commented on #184
Agree with @space-alien , no need for economizing line count, your second original option is the most readable one.

[2020-03-07 09:37] pedromtcosta commented on #184
Great! I started implementing the overloads. I am currently writing the Unit Tests, do you have any feedback on this one?

[code]

[code]

The reason behind the `K` class is to be able to use it as a Value for the Result, so I can test that this value is correctly passed as an argument to the `Func<T, bool> condition`

[2020-03-08 16:58] benprime commented on #181
I have not come up against many scenarios where I'd want to ignore the result completely, but I have come up against several scenarios where I would like to run an operation, check the result as normal, but return the original result rather than the new result.

Unless I'm missing some context, using bind for this would amount to this code, correct?

[code]

This works, but the developers that I w

[2020-03-08 18:06] space-alien commented on #181
I do it this way:

[code]
`UpdateCustomer()` contains a value that we aren't interested in.
`DoWork()` does not contain a value.

[2020-03-10 03:45] benprime commented on #181
Thank you. We'll use `.Bind` as outlined here.

[2020-03-10 10:35] #122 closed

[2020-03-10 15:39] space-alien commented on #181
@vkhorikov Do you think there is any case for adding a new method for this?

[2020-03-11 11:26] space-alien commented on #136
[code]

The above signature seems redundant, as the same could be achieved with a simple cast: `(Result)myResult`

Propose removing this signature?

[2020-03-11 11:54] space-alien commented on #179
Agreed, this needs fixing.

Please see also #174.

[2020-03-11 12:05] #161 closed

[2020-03-11 12:19] #146 closed

[2020-03-11 12:20] #141 closed

[2020-03-11 12:21] #135 closed

[2020-03-11 12:39] #150 closed

[2020-03-12 02:50] vkhorikov commented on #136
I agree, no need for this one 👍

[2020-03-12 03:19] vkhorikov commented on #184
This could have probably worked with a plain `bool` instead of `K`, but this is fine too. Merged the PR.

[2020-03-12 03:43] vkhorikov commented on #181
Yeah, we should add this to the library. `TapAndCheck` (@benprime's suggestion) sounds appropriate to me.

[2020-03-12 04:01] benprime commented on #181
@vkhorikov Would you like me to create a PR?

[2020-03-12 04:05] vkhorikov commented on #181
Please do.

[2020-03-12 08:48] space-alien commented on #181
Consider whether it would be safer and more intuitive if we added `Tap()` overloads for `Func<Result>` that bind the inner result success/failure while ignoring its return value?

See also #174

[2020-03-12 10:31] space-alien commented on #174
I've been looking into this again. As far as I can tell so far, (1) only sacrifices the ability to use method group conversion, and even then only on `Func`s - it still works fine for voids.

So `Tap(UpdateCustomer)` would have to be rewritten `Tap(c => UpdateCustomer(c))`. But `Tap(SomeVoidAction)` is still fine.

However, the advantages of (1) seem enormous: we can remove no less than 20 Tap and

[2020-03-12 12:18] space-alien commented on #174
Done. Not a single broken method call on a big project, seems to bode well.

[2020-03-12 15:43] space-alien commented on #174
It's done - and it's even better than I thought. I was able to remove 42 unhelpful overloads and their unit tests, that appear to do nothing but clutter and bug the library.

[2020-03-12 20:10] space-alien commented on #184
Please take a look at #188 and #174

[2020-03-12 21:19] space-alien commented on #174
I found the tiniest of caveats - method group conversion works less well with C# versions before 7.3 (when they improved overload resolution). But - it only seems to not work for non-async `void`s and parameterless `Func`s. And the regular lambda syntax works fine all round. Definitely not a dealbreaker for me.

[2020-03-13 10:54] #51 closed

[2020-03-13 10:57] #25 closed

[2020-03-16 12:14] vkhorikov commented on #174
Sounds good. I'm all for removing unnecessary code.

[2020-03-16 21:03] #184 closed

[2020-03-19 21:05] Hipster74 opened #190 "return Result.Failure<CustomerBillingProfile>(e.Message) in Catchblock just hangs?"
I have a method like this:

`public async Task<Result<List<SubscribedSku>>> GetCustomerSubscribedSkuAsync(string customerId, string partnerId)
        {
            List<SubscribedSku> customerSubscribedSku = new List<SubscribedSku>();
            try
            {
                var customerSubscribedSkusCollection = await partnerApiConnection.Customers.ById(customerId).SubscribedSkus.GetAsync()

[2020-03-20 09:07] johanndev commented on #41
Maybe I'm a bit obtuse - but I cannot figure out how to use the serialization support in conjunction with `System.Text.Json`. The unit tests only demonstrate the usage with the `BinaryFormatter`.

E.g., this naive code fails with an `ResultSuccessException`, as it tries to serialize the error property:
[code]

Can somebody give me a hint?

[2020-03-27 15:21] btull89 commented on #147
Agreed I'm upgrading to 2.0 now and I don't know what a lot of these new methods are used for. I'm relying on the xml code documentation.

[2020-03-27 15:33] space-alien commented on #147
Check out #152.

[2020-03-29 14:56] #174 closed

[2020-03-29 15:03] benprime commented on #181
Addressed as part of PR #192

[2020-03-29 15:03] #181 closed

[2020-03-29 17:17] #179 closed

[2020-04-03 12:26] mnissl opened #193 "BindWithTransactionScope<T, K, E> missing"
I assume the following overload is missing in BindWithTransactionScope.cs:

[code]

I'm trying to transform the follwing code using CSharpFunctionalExtensions:

[code]

`SaveChanges()` returns `Result<int, MyException>`.

I started with:

[code]

... but found no matching overload.

Without TransactionScope, I also had to reach out to the <T, K, E> overload of `Bind()`:

[code]

Hence I was wonder

[2020-04-03 20:20] VladimirMakaev opened #194 "Better Debugging Experience"
Hi I'm having great time using this library. One thing I've noticed as a potential enhancement is to either have ```ToString()``` method overridden or have a ```[DebuggerTypeProxy(...)]``` attribute applied to ```Result<...>``` types. That would make debugging much more pleasant.

Would you be interested in contribution in this area? Which approach would you like to follow?

[2020-04-05 12:28] vkhorikov commented on #194
I like the idea and I think we already have `ToString()` overridden in `Maybe`. How would you like to override `ToString()` in `Result` ?

[2020-04-06 13:32] VladimirMakaev commented on #194
Conceptually something like that
for Result<T,E>:
[code]
for Result<T>

[code]
I can performance optimize it to get rid of allocations on each call if it's OK conceptually.

[2020-04-07 13:07] vkhorikov commented on #194
Merged the PR. The optimization is optional. If it reduces readability, I would rather keep the code as it is.

[2020-04-07 13:13] #194 closed

[2020-04-15 13:15] vkhorikov commented on #193
Apology for the late reply. No particular reason. Merged your pull request, thanks.

[2020-04-20 08:31] pedromtcosta opened #197 "Extension for overriding current result only in case of failure"
I came across a scenario where I had to execute 2 operations that take the same parameter, so I could chain them with `Tap()` and `Bind()`:

[code]

The problem here is that I want the whole operation to fail if `_myObject.DoSomething(so)` fails, but I cannot `Bind()` the result that comes from `_myObject.DoSomething(so)` because it returns a simple `Result`, instead of `Result<SomeObject>`, and I

[2020-04-21 11:34] yakimovim opened #198 "Serializable value objects"
Please, add `[Serializable]` attribute to the base value object classes (`ValueObject, ValueObject<T>, SimpleValueObject<T>`). Otherwise, classes that inherit from them can not be made serializable.

[2020-04-22 04:39] pstephenson02 opened #199 "Awaiting Tasks in parallel"
My colleagues and I recently got into a discussion after realizing that all (?) of the overloads for `Task<Result<T>` end up calling `await` on the Task before acting. The question became: if we wanted to build Tasks and subsequently run them in parallel down inside of a nested lambda for example, how could we accomplish that? For example:

[code]

This doesn't actually compile but I think it demo

[2020-04-22 06:16] Badabum commented on #197
You can simply write your own extension method that has this behavior.

[2020-04-22 06:18] pedromtcosta commented on #197
@Badabum yes, that's what I've done. What I am suggesting is to add this to the library

[2020-04-22 11:49] Badabum commented on #197
I don't think it's very relevant to the library. `Tap in case of success and Bind in case of failure` - is not intuitive(at least to me) semantic that is caused purely by not wanting to provide return value of your method `DoSomething`. What you really want to do here is smth like this `Bind(input => DoSomething(intput).Map(() => input))`. Here you explicitly say that you don't care about return v

[2020-04-22 12:50] vkhorikov commented on #199
I don't recommend doing this via extensions. Use plain variables instead, it's easier to read:

[code]

[2020-04-22 12:56] vkhorikov commented on #198
Added the attributes, a new version should be published soon.

[2020-04-22 14:23] pstephenson02 commented on #199
Thanks for the quick response 👍 - Agreed this does seem like the simpler, more readable approach.

[2020-04-22 14:23] #199 closed

[2020-04-23 15:03] #198 closed

[2020-05-10 17:30] bitbehz opened #200 "Result<E> implementation"
Hi,
Is there any plans for implementing Result<E> class?
(Result with no value but error class)

[2020-05-15 08:38] JvSSD opened #201 "Implicit conversion from T to Result<T>"
I find myself writing a lot of boilerplate like `return Result.Success(new T());` Because methods that return a `Result<T>` conceptually really return a `T` or a failure, it makes a lot of sense to be able to write `return new T();` on the success branches of those methods. Therefore and because it is safe, I propose to add an implicit conversion from a `T` to a `Result<T>`:

`public static implic

[2020-05-16 15:21] kevinha commented on #201
Also similar implicit conversions to `Result<T,E>` would be appreciated.

[2020-05-17 15:12] vkhorikov commented on #201
Good idea. Please go ahead with a PR. A similar conversion for `Result<T,E>` would be good too.

[2020-05-20 12:23] #201 closed

[2020-05-23 14:20] ahedreville opened #203 "ValueObject should implement IComparable"
Dear Vladimir

I am getting **System.ArgumentException : At least one object must implement IComparable**
using a _ValueObject in a OrderBy predicate_ when testing with ef core InMemory provider

notice that with SqlServer provider no exception issues and sorts.

It seems the implementation of the InMemory provider needs that the ValueObject should implement IComparable.

I added such interface to

[2020-05-25 13:30] vkhorikov commented on #203
Don't see why not. Feel free to submit a PR (this needs to be implemented in the base `ValueObject` class). Otherwise, I'll try to add this in the next week or two.

[2020-05-26 06:34] ReneWiersma commented on #200
I ran into this as well. It's holding me back from using the package in my production software.

[2020-05-27 12:59] erenturkm opened #204 "Wrong return Type in 2.8.0"
Below is my Unit Test that started to fail on 2.8.0 but is working with 2.7.1. Basicly what I can see is Result.Success is not returning a version object but a Result.Version object.

[code]

[2020-05-27 18:22] vkhorikov commented on #204
Could also you post a version that worked with 2.7.1? This one doesn't seem to compile when I downgrade to 2.7.1.

[2020-05-27 21:48] kitsu commented on #183
Late breaking update: while I'd love to work on this library I have at least 6 projects in the air at work and can't squeeze this in. Beside excuses I thought i'd share the work-around I just found for the missing overload in this issue. It is so obvious that I feel a little dumb not finding it earlier...

[code]

The `Bind` method conditionally executes a `Result` returning lambda, replacing the

[2020-05-28 10:12] ahedreville commented on #203
by now what I am doing is to derive from ValueObject.

[code]
and from there..

[code]
I also implemented a handy interface (not related to this discussion here, but nice to know about it)

    public interface IValueObject
    {
        object GetValue();
    }

used to help Newtonsoft.Json to convert the  ValueObject to json through the following json converter below

[code]

since adding interf

[2020-05-29 06:54] erenturkm commented on #204
It is my mistake, since return type differs, you have to cast it to dynamic when calling Result.Success. 2nd function should be (I am not clear on why formatting is wrong when I copy/paste):
`
 public static Result<dynamic> ConvertToVersion(dynamic V)
        {
            Version res7 = new Version(0, 0, 0, 0);
            if (V.GetType() == typeof(Version)) return Result.Success<dynamic>(V);

[2020-05-29 11:52] ahedreville commented on #203
Just to recap a bit…

When dealing with value objects and EF Core collateral side effects arise.

EF Core has two mechanics to implement value objects:

1) HasConversion:	Mainly used with single property value object

2) OwnsOne:		used with multiple properties value object

i.e. the below single property value object…

[code]
will be mapped on EF Core with…

`builder.Property(e => e.Name).HasConve

[2020-05-29 16:31] mmisztal1980 opened #205 "Q: Is there a recommended way to Map Result<T1, E1> to Result<T2, E2> ?"
As title says, I'm currently modelling a process where I need to change both the Result's value type and it's error type.

@vkhorikov is there a recommended way to handle such scenarios? Or should I implement my own extension that has something like `Func<E1, E2> antecedentErrorMapper` ?

[2020-06-02 12:44] vkhorikov commented on #205
I don't think there is such an extension.

[2020-06-07 19:50] #205 closed

[2020-06-11 09:14] nfdevil commented on #200
One more vote, I have solved this currently with 2 extension methods, to serialize an array of errors as json and back...

[2020-06-19 05:00] robertlarkins opened #207 "Add Entity class to CSharpFunctionExtensions"
This library has the ValueObject class, but not an Entity class, like what is available here:
https://github.com/vkhorikov/DddAndEFCore/blob/master/src/App/Entity.cs
is the Entity class likely to be added?

[2020-06-19 13:25] vkhorikov commented on #207
I haven't added it to the library because of this line here: https://github.com/vkhorikov/DddAndEFCore/blob/master/src/App/Entity.cs#L75

It's a concern specific to EF Core, which makes this class non-universal (unlike ValueObject). If you use NHibernate, then this method will look differently: https://github.com/vkhorikov/CqrsInPractice/blob/master/After/src/Logic/Students/Entity.cs#L48-L51

[2020-06-20 09:18] robertlarkins commented on #207
Ah I see, and I suppose that line would differ per ORM. Shall we leave this issue/question open, or close it?

[2020-06-22 12:20] vkhorikov commented on #207
Yes, the difference per ORM and also when you don't use any ORM. I'll close the issue.

[2020-06-24 12:26] hankovich commented on #200
Usually we add something like

[code]
to represent a missing value and use `Result<Unit, Error>` for cases you've mentioned.

[2020-06-26 14:54] erenturkm commented on #204
Hi Vladimr,

Can you give any update on when we can expect a solution?

[2020-06-26 17:36] MohamedRDwedar opened #208 "You attempted to access the Value property for a failed result. A failed result has no Value"
I have the following issue
any method that rerun an error i always got the below error message instead of the original error

"You attempted to access the Value property for a failed result. A failed result has no Value"

here is an example of the code usage

try
            {
                   var value = await _dataContext.TestItems.Where(c => c.Id == 1).ToListAsync();
                    retur

[2020-06-26 17:44] MohamedRDwedar commented on #208
even very simple api return have the same error
 [HttpGet("{dom}/{sDom}")]
        public IActionResult GetPreferdLabelsBySDom(string dom, string sDom)
        {
            return Ok(Result.Success(10));
        }
CSharpFunctionalExtensions.ResultSuccessException: You attempted to access the Error property for a successful result. A successful result has no Error.
   at CSharpFunctionalExtensions

[2020-06-26 17:49] leblancdavid commented on #208
We were getting that error too. I don't recommend returning the `Result` class in your API because it serializes it to JSON. In that process it ends up calling the `get` of the `Value` property which throws an exception when you have a failure.

[2020-06-27 00:10] MohamedRDwedar commented on #208
@leblancdavid   i was trying to wrap the api response with the result object.
for now i will us another object in the api return hopefully that will fix soon

[2020-06-27 23:15] #204 closed

[2020-06-27 23:22] vkhorikov commented on #208
As @leblancdavid said, you shouldn't return the Result from your controllers, it's not supposed to be part of your application's data contracts. Wrap it with a separate envelope class; for an example, see:
https://github.com/vkhorikov/CqrsInPractice/blob/master/After/src/Api/Controllers/StudentController.cs#L43
https://github.com/vkhorikov/CqrsInPractice/blob/master/After/src/Api/Controllers/BaseC

[2020-06-27 23:23] vkhorikov commented on #204
This is fixed in 2.8.2

[2020-06-30 18:47] hankovich opened #209 "Proposal: implicit conversion from E to Result<T, E>"
Implicit conversion from `T` to `Result<T>`/`Result<T, E>` is already available. However it's still impossible to omit `Result.Failure<T, E>(e)` expressions because there's no implicit conversion from E to Result<T, E>.

Note: it'll be a breaking change and such code will not compile anymore:
[code]

But I think the case when typeof(T) == typeof(E) is pretty rare.

[2020-06-30 19:03] hankovich opened #210 "Proposal: MapError extensions"
For now it's very easy to change `T` type (`Result<T, E>` to `Result<T2, E>`) with help of `Map` extensions but there's no ability to change `E` type.

Sometimes `Result<T>` should be converted to `Result<T, E>` or `Result<T, E>` should be converted to `Result<T, IEnumerable<T>>`.

Basically I'm talking about:
[code]

And also probably:
[code]

[2020-07-03 15:09] vkhorikov commented on #209
I agree, that's a good idea.

[2020-07-03 15:11] vkhorikov commented on #210
Yep, that'd be helpful.

[2020-07-06 02:42] vkhorikov commented on #209
Published in v2.9.0

[2020-07-06 02:42] #209 closed

[2020-07-07 08:32] Zonnex commented on #139
My biggest annoyance with C# 8's nullable reference types is that they are different from normal nullable reference types. If you want to write extension methods for these, you need to cover both cases in different methods (where T is class, where T is struct). This is because a nullable string will not have "HasValue" and "Value" properties, where a nullable struct will.

[2020-07-10 08:06] alexmaie commented on #147
Hey, we also upgraded from 1.10 to the latest version, and we are struggling to refactor and learn the new API's.
It's not very clear yet when to use tap or map or bind.

But still, this is a great library, keep up the good work :)

[2020-07-10 11:54] vkhorikov commented on #147
@alexmaie Yeah, the documentation is lacking currently. You should be able to convert to the correct methods if you follow the [Obsolete] attributes' recommendations, though.

[2020-07-15 07:51] alexmaie commented on #147
Well yes and no. After doing the initial migration it was easier to grasp, but still I didn't figure out what the best practices are.
Like we should use tap when we want to perform an action. When to use Bind/Map etc.
The documentation should be more of a guide line :). Again, this is not a complain, but a constructive feedback :D.

Great Work :)

[2020-07-15 11:12] JvSSD opened #215 "Calling .Combine() and getting its value on a Result leads to multiple enumeration"
I've noticed during debugging an application that uses ``Result<T>`` extensively that calling ``.Combine()`` and getting the produced value on a ``Result`` leads to multiple enumeration of the code that produces the ``IEnumerable<Result<T>>`` for which the ``.Combine()`` is called.

This can lead to significant unnecessary performance degradation. In my particular case, the time it takes for the r

[2020-07-18 21:39] vkhorikov commented on #215
Published 2.11.0

[2020-07-18 21:39] #215 closed

[2020-07-28 05:51] robertlarkins commented on #139
The following question is possibly related to this issue.

I'm using the ddd with efcore approach (pluralsight) in which I have an entity. Some of the properties on the entity I'm using with `Maybe`, eg: `public virtual Maybe<SomeClass> SomeClass { get; private set; }`. But I can't (I don't think) use `Maybe` as a constructor param, as this conflicts with EFCore. But I could possible use `SomeClas

[2020-07-29 12:52] vkhorikov commented on #139
I couldn't make `Maybe` work as a property in my EF Core course. If you find a way, please let me know.
Regarding the conversion, you can just do
[code]
There's an implicit conversion in `Maybe` that converts all nulls into `Maybe<T>.None`

[2020-07-30 06:58] freever opened #218 "Proposal: include Error in failed result exception."
In the likely event that there is a bug in my code and I try to access a Value where there is none, I get "You attempted to access the Value property for a failed result. A failed result has no Value", which is fine, but it means I get crash reports like the following:

![image](https://user-images.githubusercontent.com/2269624/88890961-a835e400-d242-11ea-8963-d91b7f95ee56.png)

If I just knew wha

[2020-07-31 11:00] JvSSD opened #220 "IResult<out T> interface"
I have encountered a use case for covariance in the return values of a method that needs to return a Result with a value. For this I'd need an IResult<out T> akin to IValue<out T>. In fact, it would just need to implement both IResult and IValue<out T> and Result<T> would have to implement IResult<T>. I'll open a pull request shortly: #221.

[2020-08-03 15:11] vkhorikov commented on #218
Yes, good idea, please go ahead with the PR.

[2020-08-03 15:13] vkhorikov commented on #220
Merged. For historical/documentation purposes, could you post more details about the use case that needs covariance?

[2020-08-03 15:46] freever commented on #218
Great, I think I will need permission to push my branch?

[2020-08-03 15:57] vkhorikov commented on #218
No need to push, create a pull request.
I can change the error message myself if there are issues with the PR, let me know.

[2020-08-03 16:08] freever commented on #218
I think I managed to do the PR - not really familiar with contributing to
public repos so this is a bit of a noob experience for me :)

On Mon, 3 Aug 2020 at 17:57, Vladimir Khorikov <notifications@github.com>
wrote:

[2020-08-03 19:11] vkhorikov commented on #218
No worries. Merged the changes, they will be published in 2.11.3 soon.

[2020-08-04 05:13] freever commented on #218
Closed by #222

[2020-08-04 05:13] #218 closed

[2020-08-07 03:00] robertlarkins opened #224 "ValueObject is not equivalent to a Castle.Proxies ValueObject"
I'm getting data from an external source that provides a set of type_codes. I have the type_codes as entities in a table. So I'm constructing an object with child objects that each map to the type_code table. In this case an Animal object mapping to Breeds, in which each breed has a breed code.
As this is a fairly long list, I'm going `var allBreeds = _context.Breeds.ToList()` to get the list of B

[2020-08-07 18:49] vkhorikov commented on #224
Post the EF Core mappings for Breed and BreedType please.

[2020-08-07 19:40] JvSSD commented on #220
It basically comes down to having two classes, let's call them Derived1 and Derived2, that both derive from the same base class, Base. What I have is a factory method making a choice between calling a factory method that creates a Derived1 (or a failure) and a Derived2 (or a failure).

[2020-08-07 21:17] robertlarkins commented on #224
This is the Configuration for the Breed:
[code]
which is called from the Context using this approach
[code]
I don't have a configuration for BreedType (should there be?). The `Breed` Entity is setup as
[code]
while `BreedType` ValueObject is
[code]
So I'm getting all the breeds in the database using `var allBreeds = _context.Breeds.ToList();` and am trying to update an animal's breed reference by

[2020-08-08 06:59] robertlarkins commented on #224
Not sure if it makes any difference, but this is working against a postgres database using Npgsql.EntityFrameworkCore.PostgreSQL.

[2020-08-08 15:28] vkhorikov commented on #220
Thanks, closing this issue.

[2020-08-08 15:28] #220 closed

[2020-08-08 15:57] vkhorikov commented on #224
I see the issue now. The original implementation of VO was tailored toward NHibernate, where the ORM doesn't create proxies on top of value objects. Pushed, should be published soon as v2.11.5. Let me know if this fixes the issue.

[2020-08-09 02:55] robertlarkins commented on #224
@vkhorikov Thanks for the quick update to the library, this appears to have fixed my issue.

[2020-08-09 02:55] #224 closed

[2020-08-20 02:25] jbloem9 opened #225 "ValueObject GetEqualityComponents not applied when obtaining items from the database"
**First Issue:**
I am wanting to see if an inspector exists in the database by searching for the inspector code.
I am using the following code;

var inspectorDb = breedItContext.Inspectors.FirstOrDefault(insp => insp.ParticipantCode.Value == inspectorCode);
Here the inspectorCode is an input. The ParticipantCode is a ValueObject (Code is supplied below).

I am getting the following error at runtim

[2020-08-20 19:47] vkhorikov commented on #225
EF Core doesn't know about the `GetEqualityComponents` method, and can't inject it into the generated SQL. In the SQL profiler, look at the query EF generates, most likely adding `.ToUpper()` as in `insp.ParticipantCode.ToUpper() == ptCode.ToUpper()` will help.

[2020-08-23 10:58] robertlarkins opened #226 "How to provide a Failure Result with item from list"
The `Result` class is useful for indicating success an failure of an action. However, I have a situation like this that I'm trying to use `Result` with:
[code]
I need to handle the failed `AnimalExamination` items from the calling class, so need to return them. Does `Result` have the capability to provide a failure case along with the item that caused the failure? If not, is this capability worth

[2020-08-23 19:53] robertlarkins commented on #226
I should have made it clearer. In this example those methods are in an `Examination` class which contains a list of `AnimalExamination`, so a failure occurs when trying to add an `AnimalExamination` but one already exists for that animal. In which case this double up needs to be put into an error table. So I would like to indicate in the `AddAnimalInspections` method either all animals were added

[2020-08-25 15:10] magarbikram opened #227 "Comparing ValueObjects, InMemory vs from DBContext"
EF Core creates a proxy of value object and when comparing they won't be equal.
For eg:
Address shippingAddress = Address.From("City", "State");

//for instance it has same values in each properties
//NOTE: ShippingAddress is marked virtual and lazy loading has been enabled
Address orderShippingAddress =  dbContext.Orders.GetById(123).ShippingAddress;
Assert.Equal(shippingAddress, orderShippingAdd

[2020-08-26 08:42] yakimovim opened #228 "Caching of hash values for ValueObject"
What do you think about caching the result of the calculation GetHashCode method for ValueObject? As this object should be immutable, it should be rather safe. On the other hand, it should improve performance in scenarios where a lot of calculations of hash codes involved.

[2020-08-28 19:06] vkhorikov commented on #226
It depends on what you are going to do with the list of failed examinations. The usual approach is to use `Result<unit, YourCustomErrorType>` (`unit` -- due to there being no variations of `Result<TError>` without `TValue`). The client code can also call the singular methods one by one, it's fine too.

Also, as a side note: looks like you are passing an internal entity `AnimalExamination` to the `

[2020-08-28 19:10] vkhorikov commented on #227
What version are you using? This should be fixed in the latest one: https://github.com/vkhorikov/CSharpFunctionalExtensions/issues/224

[2020-08-28 19:12] vkhorikov commented on #228
I'm fine with that. If you have a use case where this optimization is useful, feel free to submit a PR.

[2020-08-30 22:24] robertlarkins commented on #226
Thanks, I think that functionality covers what I'm wanting. Your side note was also very useful. I'll go ahead and close this issue.

[2020-08-30 22:24] #226 closed

[2020-09-13 09:56] robertlarkins commented on #207
@vkhorikov As the ValueObject class now has code specific to EF Core (#224), is there an argument to made that an Entity class could be added to the library? I know that it means it has a reference to an ORM (or ORMs), but could it check for an object's real or unproxied type for EF Core then NHibernate, and if it isn't proxied then use the object type?

Maybe something like this (untested)
[code]

[2020-09-13 13:11] vkhorikov commented on #207
Yes, I was contemplating on this too after I added that code. The unproxying code for NHibernate can be done the same way as for EF Core, without the need to refer to `NHibernateProxyHelper`. I'm reopening this issue, will experiment with it a next week.

[2020-09-20 19:00] xplatsolutions opened #231 "Similar extensions for TypeScript?"
Before I start implementing some of these concepts in my GraphQL Nodejs TypeScript project I thought to just throw it out there if some kind of similar types exist and I can't find it :)

Great package! Thanks. Used it extensively in C# .NET Core projects.

[2020-09-21 12:19] vkhorikov commented on #231
I'm not aware if any similar projects exist for TypeScript.

[2020-09-21 12:32] xplatsolutions commented on #231
Thanks :)

[2020-09-21 12:32] #231 closed

[2020-09-25 13:30] #183 closed

[2020-09-29 06:13] shuelsmeier commented on #48
We are using BizTalk that forces us to use signed assemblies and I would like to use your NuGet package. Can u reconsider signing it?

[2020-10-06 11:42] vkhorikov commented on #48
@shuelsmeier what about the workaround with the https://github.com/dsplaisted/strongnamer library?

[2020-10-08 15:49] pha3z opened #234 "Result.Success(IEnumerable<T>) returns an empty set ??? Possibly in a Task??"
I haven't had a chance to try to figure this one out.  But I'm reporting it so its logged.

I had a method with a signature like this:

`public async Task<Result<IEnumerable<MyObject>>> GetSomeObjects()`

The method ended with this line:

`return Result.Success(myObjects)`

where myObjects was an IEnumerable<MyObject>

I was calling the method like this:

`var r = await GetSomeObjects()`

and when

[2020-10-09 14:25] pedromtcosta commented on #182
@vkhorikov I updated my suggestion on the original message

[2020-10-10 11:23] vkhorikov commented on #234
Could you please post this issue in form of a failing test?

[2020-10-10 11:38] vkhorikov commented on #182
This will be a huge breaking change, and I don't think it's worth it. As an alternative, I was thinking of introducing a `Unit` type to the library, so that `Result<E>` could be represented as `Result<Unit, E>`. Now, I don't quite like the verbosity of this solution either (having two always specify 2 type arguments), but it can probably be mitigated with the use of type aliases:
[code]

Let me kn

[2020-10-10 15:56] pha3z commented on #234
I will certainly try if I can managed to find time.  But I have been working 12 hour days for weeks -- so many irons in the fire.  This issue with IEnumerable came up during a live API testing scenario where I had another tech on the end of the line.  I had to just get the code working and move on with all the other stuff I've got.  I at least thought I should post about it so that it was noted in

[2020-10-10 18:37] fingers10 opened #235 "Enhancement to add error code in failure cases"
Dear Vladimir Khorikov,

Thanks for the awesome nuget package. I'm using this widely in my projects. However I got stuck with error code in many of my projects. I needs to send the error code along with the error message, especially in API projects. I'm not able to find a way to send error code along with error message. Hence I though of raising the request.

**Existing:**
[code]

It would be grea

[2020-10-13 18:13] vkhorikov commented on #203
I've checked in the `IComparable` implementation.

Regarding the `GetValue` method, looks like it doesn't have to be an interface. The base `ValueObject` class will work too, correct?

[2020-10-13 18:18] vkhorikov commented on #235
It's best to create your own `Error` class that would encapsulate all info about the error, such as an error code and an error message. You can then use the `Result<T,E>` version e.g `Result<string, Error>`.

[2020-10-15 09:03] fingers10 commented on #235
Thanks for the info.

[2020-10-15 09:03] #235 closed

[2020-10-16 17:08] vkhorikov commented on #234
@pha3z I wasn't able to reproduce this issue on my own (tried a couple of options with the code you posted). Let me know if you could come up with a test (a raw code sample from your project would work too).

There's no known issue that would result in such behavior with `IEnumerable`s.

[2020-10-17 02:54] vkhorikov commented on #203
Closing this issue, the IComparable implementation is available in 2.12.0

[2020-10-17 02:54] #203 closed

[2020-10-17 02:54] vkhorikov commented on #207
Entity implementation is available in 2.12.0

[2020-10-17 02:54] #207 closed

[2020-10-23 07:52] dgaspar opened #236 "Result package"
In one of my projects, I already have *the* `Entity` and `ValueObject` base implementations (I guess this is very common, right?) that differ from the ones provided by this package.

Now I would like to start using `Result` from this repo with those entities.
If I do so, I start having naming collisions, besides the possibility of pointing to the wrong implementation of those classes by mistake.

[2020-10-23 10:54] vkhorikov commented on #236
You can manage this inconsistency using namespaces, like this:

[code]

Though I understand this is an inconvenience. What is the difference between your and library's implementations of Entity and VO?

[2020-10-23 21:00] dgaspar commented on #236
meh, tiny details, I guess:

`Entity`:
- uses NRT
- The .sln I work on has this silly convention of suffixing all id properties with `ID` instead of `Id` 🙄
- Regarding hash code generation, I'm following [this one](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Services/Ordering/Ordering.Domain/SeedWork/Entity.cs#L71) that doesn't cover proxies (I don't use NHibernate nor EF

[2020-10-24 12:43] vkhorikov commented on #236
Thanks for the kind words.

1) Regarding `ValueObject`, there are 2 versions in CSharpFunctionalExtensions: one with a generic parameter (for more customization) and another one without, which is exactly the same as the version from eShopOnContainers:

- https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/8171649c1b7f41dd2ee4f135433a470daa59e567/CSharpFunctionalExtensions/ValueObject/Valu

[2020-10-29 20:34] SirBuckinghamVI opened #237 "ValueObject : IComparable<ValueObject> is Potentially Breaking due to Overload Ambiguity"
After updating to version 2.12.0, many of my tests are breaking due to the addition of IComparable to ValueObject and the corresponding requirement that the elements of GetEqualityComponents implement IComparable, as the addition of the new interface introduces overload ambiguity.

Specifically, I am running into this issue with FluentAssertions. Previously, when calling Should() from FluentAssert

[2020-10-29 20:44] SirBuckinghamVI commented on #237
Changing the CompareTo implementation to just skip components that don't implement IComparable would not address the ISP concern, but it would patch the issue in cases like mine. I can make a PR if that is suitable to you.

[2020-10-30 15:13] vkhorikov commented on #237
IComparable might need to be introduced in another base class (`ComparableValueObject` instead of `ValueObject`) to avoid these issues.

IComparable is only needed for sorting/ordering, though, its implementation doesn't have to have the semantics of "greater than" or "less than", just like with "A" and "B". In your example with geocoordinates, you should have the IComparable implementation by def

[2020-10-30 18:28] SirBuckinghamVI commented on #237
That's a good point. The main member that does not implement IComparable that I have used is NodaTime.Interval. I imagine it does not implement it because of the ambiguity of which characteristic of the interval it should sort by. Others include types for representing location such as postal codes, and value objects representing an interval of work for an employee to do at a given time and locatio

[2020-11-01 17:28] vkhorikov commented on #237
I'll extract the IComparable implementation into a a separate base class. Will try to do that today.

[2020-11-02 00:48] vkhorikov commented on #237
Decided to default the `CompareTo` result to 0 instead of introducing a new base class. Let me know if it fixes your issue.

[2020-11-02 20:39] SirBuckinghamVI commented on #237
It's close, but now it is failing on NotBe instead of Be, since in the current stable version of FluentAssertions, NotBe for IComparable expects CompareTo to not return zero. It does look like that will be changed in the next major release of FluentAssertions. What are your thoughts here?

[2020-11-02 20:46] SirBuckinghamVI commented on #237
[Eric Lippert says](https://ericlippert.com/2013/10/07/math-from-scratch-part-six-comparisons/) that "ideally", equality and comparison methods should be consistent.

[2020-11-03 21:07] vkhorikov commented on #237
Thanks for the link, Eric is a very good explainer. I've pushed an update -- this time if a component doesn't implement IComparable, the base class returns 0 only if the two components are equal. Let me know if this fixes your issue.

[2020-11-04 20:30] SirBuckinghamVI commented on #237
That did it! Thanks!

[2020-11-06 16:02] bradyclifford opened #238 "Utilize C# 9 Record types for Value Objects"
Has there been any thought into how or should we utilize the new [Record type](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-9#record-types) from C#9 to represent a Value Object?

[2020-11-07 14:55] vkhorikov commented on #238
I haven't worked with record types yet, but they look like an alternative to the ValueObject.

[2020-11-18 19:29] benprime commented on #210
@hankovich Are you planning to submit a pull request for this one?

[2020-11-19 08:40] JvSSD commented on #228
I think this can be closed: https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/230

[2020-11-19 08:45] yakimovim commented on #228
Yes.

[2020-11-19 08:45] #228 closed

[2020-11-19 09:04] JvSSD opened #240 "Provide option for .Combine() to condense the error messages"
I have a lot of cases of the following structure: `input.Select(x => Transform(x)).Combine()`, where Transform returns a `Result<T>`. Often, it will return the same failure for multiple elements in `input`. We're logging those failures, often leading to log messages like the following:
`
Timestamp [ERR] Error during.... . Message: 'Something went wrong and is being concatenated into a repeated mes

[2020-11-19 10:14] hankovich commented on #210
@benprime thanks for pinging, totally forgot about this proposal.
Sure, will open a PR soon (till the end of this week)

[2020-11-19 16:16] vkhorikov commented on #240
I think say this can be the default behavior for `Combine()` (i.e no additional option needed). Don't see any use case where such repetition is helpful.

[2020-11-20 17:48] mingazhev opened #242 "Usage and meaning of Tap extension method"
We're using CSharpFunctionalExtensions package in our projects more than a year and we appreciated the changes of many `OnSuccess` methods to separate methods with different meaning, such as `Tap`, `Bind` etc.

After some using our team got an intuitive understanding of when to use each of them and we wrote not totally functional, but easy-readable and clear constructions such as:

[code]

When I

[2020-11-24 02:14] #210 closed

[2020-11-24 02:21] vkhorikov commented on #240
Merged, thanks! Should be available in 2.13.0.

[2020-11-24 02:21] vkhorikov commented on #210
Merged, thank you! Will be available in 2.13.0.

[2020-11-24 02:43] vkhorikov commented on #242
It doesn't change the result. The method you are referencing is an async version of the following method (the async version calls that method using `result.Tap(func)`) :

[code]

Here, this combination of `Bind` and `Map` works the same as

[code]

That's because the subsequent `Map` discards the result of `func` and instead returns the initial result. The combination of `Bind` and `Map` are used

[2020-11-24 03:47] mingazhev commented on #242
Yes, my example is not so clear, I've created tests to explain better:

[code]

I expect that both of these test will succeed, but the second fails, result is changed from success to failure

[2020-11-24 13:45] vkhorikov commented on #242
Ah, I see what you mean. There should be equality members (including `IEquatable` implementation) in `Result`, similar to how it's done for `Maybe`.

[2020-11-24 13:47] vkhorikov opened #244 "ValueObject should implement ToString similar to C# records"
The base `ValueObject` class should override `ToString()` and print its content, similar to how C# 9 records do it.

[2020-11-25 12:56] hankovich commented on #242
Let me add my 5 cents here.
I think that the mentioned overload (`successResult.Tap(s => Result.Failure("error"))`) is handy and extremely powerful. It's a very nice filter for your results.

We use it rather wide like that:

[code]

Where both `Unit` and `Error` are our own custom types.

[2020-11-25 13:23] mingazhev commented on #242
@vkhorikov sorry, may be I was not clear enough again. I mean such situation:

[code]

There are two methods, one returns void and the second returns result.
For example we have the following high-level code:

[code]

there are two variants of DoSomeJob method to make code compile:

[code]

This method
[code]
will look same in both situations, but in the 1-st case the result (failure or success) *

[2020-11-25 13:47] hankovich commented on #242
@mingazhev ah I see your point, Name is confusing indeed :)

Several days ago I was discussing `Tap`s and `TapIf`s with one of my colleagues and he admitted that he does not understand code with `Tap`s exactly because of the different semantics.

[2020-11-25 20:43] kriewall opened #245 "How to acquire Result<dynamic>?"
### What is the current behavior?

When working with dynamic objects under CSharpFunctionalExtensions, `dynamic` is returned instead of `Result<dynamic>`.

### What is the expected behavior?

When working with dynamic objects under CSharpFunctionalExtensions, `Result<dynamic>` should be returned, just as one can return `List<dynamic>`.  Similarly, when mapping to type T, Result<T> should be return

[2020-11-26 00:36] vkhorikov commented on #242
@mingazhev @hankovich looks like I didn't understand `Tap` either. I was under impression that it always returns the original result and now I see that the `Bind().Map()` sequence does change that result from `Success` to `Failure` in some scenarios.

I think `Tap` only makes sense for `void` signatures (`Action` and `Func<Task>`). We need another name for scenarios where it flips the result from

[2020-11-26 00:38] vkhorikov commented on #242
@hankovich Could you please post your implementation of `Unit`? This may be useful for https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/239

[2020-11-26 06:28] Raibo commented on #242
@vkhorikov @mingazhev @hankovich
This implementation:
Behaves like `Tap` when its `func` has `void` signature.
Behaves like `Tap` when its `func` has `Result` signature and returns `Success`.
Behaves like `Bind` when its `func` has `Result` signature and returns `Failure`.

How about naming it `BindIfFailure` (only for funcs with `Result` signatures)?

[2020-11-26 06:52] Raibo commented on #242
@hankovich
Could you please give an example of implementation of method `ValidateSomethingElse`?
As I understand it, since it has signature `Result<Unit, Error>`, then in case of successful validation, it must return `Result.Success(UnitValue)`, probably with same value that was given as an input parameter.

If so, then why even use `Tap`, when `Bind` would work perfectly fine?
Then this complex b

[2020-11-26 09:59] space-alien commented on #242
Originally these methods were called `TapAndCheck()`.

Please have a look at #181 where these methods were originally added, and also the discussion around naming here: https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/189#issuecomment-599776763

[2020-11-26 10:43] space-alien commented on #242
How about renaming to `Check()` and `CheckIf()`? Just a thought.

[2020-11-27 07:36] mingazhev commented on #242
`Check()` sounds good for me

[2020-11-27 12:13] hankovich commented on #242
@vkhorikov we use very straightforward one

[code]

[2020-11-27 12:35] hankovich commented on #242
@Raibo let me add some details here

[code]

As you can see we use Tap as a filter for our results. We can not use Bind instead of Tap because we want our chain to return `Result<TokenInfo, Error>`, but not `Result<Unit, Error>`.

Another C# feature that we use frequently is local functions. So `ValidateSomethingElse` could easy be a local function (i.e. it could skip it's input and use local vari

[2020-11-27 12:49] mingazhev commented on #242
@hankovich looks useful, we use something like this:

[code]

but I like your naming more

[2020-11-27 13:12] vkhorikov commented on #242
I like `Check()` too. I was thinking about `Validate()` but `Check` sounds better.

@mingazhev please go ahead with the PR. Please make sure the APIs are backward compatible (i.e the old methods need to be marked as obsolete; there are some examples of that in the code base).

[2020-11-28 22:14] bradyclifford commented on #238
Thanks for the article about this topic.  It was helpful.

[2020-11-28 22:14] #238 closed

[2020-11-30 10:05] mingazhev commented on #242
@vkhorikov I'm ready with the changes but cannot push my branch (403)

[2020-11-30 10:17] hankovich commented on #242
@mingazhev I think you should create a fork first, commit/push your changes and open a PR then.
This guide covers all the steps : https://github.com/MarcDiethelm/contributing/blob/master/README.md

[2020-11-30 11:48] mingazhev commented on #242
Created, thanks

[2020-11-30 21:20] #151 closed

[2020-11-30 21:38] space-alien commented on #200
A while back I created a lightweight Result library - initially as a clean-slate experimental/sandbox project, with the goal of feeding back my experiences here. I wanted to see how the codebase could evolve without the need for backwards compatibility, and it was much easier to try new things without every change breaking the large existing codebase.

I ended up implementing:
 `UnitResult<E>` (th

[2020-11-30 21:49] space-alien commented on #197
Please see #181 / #189 - this had in fact already been implemented in `Tap()` and the behaviour has now been renamed to `Check()`

[2020-11-30 21:49] #197 closed

[2020-11-30 22:03] #182 closed

[2020-11-30 22:21] space-alien commented on #200
No, no, I said: "the existing Result type does not hold **a** value" 😂

[2020-11-30 22:31] vkhorikov commented on #200
Oh, makes sense, I thought it was a typo :) So what would be an alternative to `Result` then? `UnitResult`?

[2020-11-30 23:49] vkhorikov commented on #245
I've changed the behavior of implicit conversions involving dynamics, should be available in v2.13.1. Let me know if it fixes your issue.

Note that extension methods won't be available on dynamic variables because C# doesn't know how to find them at runtime. You need to convert `dynamic`s to `Result<dynamic>`, like so:

[code]

Also, the following code is valid now:

[code]

Regarding the upgrade

[2020-12-01 00:44] kriewall commented on #245
Thanks @vkhorikov, for both the fix and the upgrade tip!  I'm in the middle of some fairly intense development, but once I get to a breaking point I'll try upgrading to v2.13.1.  Probably later this week or early next.

[2020-12-02 10:37] hankovich commented on #245
@vkhorikov

As I see there is another implicit cast
https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/4000188fea83685a4f57710c737020c9f5ec87ec/CSharpFunctionalExtensions/Result/ResultTE.cs#L46-L52

Shouldn't fix be applied to it as well?

[2020-12-02 14:22] hankovich commented on #244
Do you want it to use reflection or we can utilize (or at least to try) source generators for that?

[2020-12-02 16:39] vkhorikov commented on #244
I think it's better to just use the collection returned by `GetEqualityComponents()` in combination with `StringBuilder`. We can leave the generic `ValueObject` without a custom `ToString` implementation.

[2020-12-02 16:58] vkhorikov commented on #245
@hankovich Yeah, it should. Pushed an update.

[2020-12-02 17:02] hankovich commented on #244
Ah I see. I was thinking you want to also include property names likes records do.

i.e.
[code]

will produce

`User { Name = John, Answer = 42 }`

[2020-12-02 17:04] vkhorikov commented on #244
Ah, yes, that would be great, but too much work / too high performance impact IMO.

[2020-12-03 03:20] xavierjohn opened #247 "Is it possible chain if there are different types of failure?"
Is it possible chain if there are different types of failure?

example:
[code]

It would nice to refresh the Pluralsite course since this code based has changed from 2016.

Thanks.

[2020-12-03 14:18] nike61 commented on #242
@vkhorikov @hankovich  "Check" sounds like method with no side effect. But what if I have a method that returns Result<Unit, Error> and it has side effects. For example I want to call external service or update something in database but I want to keep initial input as output for that operation.

[2020-12-05 00:36] vkhorikov commented on #247
A refresh to the PS course is planned, not sure when I'll be able to do so, though.

Could you elaborate on what you mean by different types of failures. Also, please post the return type of these methods: `Validate()` and `GetData()`.

[2020-12-05 00:53] xavierjohn commented on #247
Here is a pseud-code I am thinking.
[code]

A method like OnFailureTerminate will end the chaining on failure.

[2020-12-05 00:56] vkhorikov commented on #242
Do `GetOrders()` and `GetLastPrice` return `Result` or a plain value? If latter, I'd just create two explicit variables and pass them to the `CalculateDiscount` method:

[code]

This is more readable than LINQ queries, IMO.

[2020-12-05 06:07] petrechitashvili opened #248 "ValueObject - equality comparison of parent-to-child values"
Would it be a good idea to consider making values of `MoneyWithCurrency` and `MoneyInUSD` equal in the following scenario:

[code]

[2020-12-05 07:52] nike61 commented on #242
They return Result. You don't check for failure in your example. If have to check for failure you will add at least two more rows for each check.
But my main point here is that Check method has no side effect. I want to do something like that:
[code]

[2020-12-05 11:19] hankovich commented on #242
@nike61 It's up to you how to implement it, right? Nobody stops you from introducing side effects from any method (for example your `Func<T, Task<T2>>` for `Map` could be implemented with side effects).

Which name do you suggest?

[2020-12-05 11:54] nike61 commented on #242
I mean "Tap" or "Func" or "Bind" don't sound like I can't change anything using them. But "Check" sounds like no side effect.
I suggest keeping "Tap" name. And create separate class and functions for validation. Because there are other things to consider in validation (like collecting multiple validation errors)

[2020-12-05 16:27] kriewall commented on #245
@vkhorikov I got around to performing the upgrade to v2.13.2.  Curiously, the one piece of functionality that broke was the content I built around dynamics.  These lines of code previously had no issues:

[code]

But the block now fails with the following error: *Microsoft.CSharp.RuntimeBinder.RuntimeBinderException : The call is ambiguous between the following methods or properties: 'CSharpFuncti

[2020-12-05 17:52] space-alien commented on #242
I think I'm with @hankovich on this one. Side effect (or not) in the external method is not within the control of this library. `Check` was separated from `Tap` because it has a slightly different behaviour (it targets methods retuning `Result` only and binds a failure. Tap would ignore a failure.) Having different names for different behaviours is helpful when reasoning about code that uses these

[2020-12-06 15:36] vkhorikov commented on #248
Usually, people define 2 value objects because they want to take advantage of strong typing, which means they don't want 2 instances of different value objects to be considered equal.

In your scenario, I think it would be better to define a factory method instead of a separate class, like so:

[code]

[2020-12-06 15:51] vkhorikov commented on #245
Could you post the underlying class of the `correctionSet` parameter?

Regarding ambiguous calls with Fluent Assertions, what is the type of the `product`? Fluent Assertions should pick up the most specific type (it's a C# feature actually, not the library's). But overall, yes, custom extension methods help resolve a lot of issues with Fluent Assertions (or just simplify the code).

[2020-12-06 16:22] vkhorikov commented on #200
@space-alien Could you please make the lightweight Result library public? I will work on backporting it here. It's time to introduce `Result<E>` in one way or another, its absence has prevented myself from using CSharpFunctionalExtensions too in some of my projects.

[2020-12-06 22:14] space-alien commented on #200
Apologies for the slow response; I am travelling at the moment so not a lot of time for detailed replies.

Implementing `UnitResult<E>` is a major undertaking, because of the number of factory/extension methods and unit tests that need to be added to provide parity with the existing types.

It will also significantly increase the maintenance and documentation burden of the library.

Its addition w

[2020-12-06 22:39] space-alien commented on #200
Didn't mean that to sound negative by the way.. I agree that this is a gap, just keen to make sure we get it right :)

[2020-12-07 00:12] vkhorikov commented on #200
Yeah, I don't know what the right is either. And the fact that I haven't used the library's Result in my last couple projects doesn't help it. @hankovich If you could share your opinion on the topic of `Result<Unit, Error>` vs `UnitResult<Error>`, that would be great.

In any case, I can start working on backporting it, and it should become clearer whether this is the right way forward as I go alo

[2020-12-07 10:04] hankovich commented on #200
@vkhorikov yeap, I've posted some of my thoughts [here](https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/239#issuecomment-739803991) and will duplicate them here as well.
I feel like we should make `UnitResult<TError>` a first-class citizen and provide some handy overloads for it.

Example:
[code]

Nobody says we should add both UnitResult and all extensions/overloads for it at the sam

[2020-12-07 10:45] space-alien commented on #200
Yes, I agree in principle, especially with the incremental approach.

Before starting, I think we should plan the work carefully and perhaps add a tracking issue with a list work items so that everyone can see the status of the implementation.

In the meantime, I have pushed a new branch with an implementation `UnitResult<E>` that is consistent with the existing `Result<T, E>`.

https://github.com

[2020-12-07 11:07] hankovich commented on #200
@space-alien at that time I see [this draft PR was updated] (https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/239/files) by @c17r and it now contains another its own implementation of `UnitResult` :)

[2020-12-07 12:54] space-alien commented on #200
@hankovich @c17r Ah right, I didn't review the code since the discussion on the PR changed direction away from interfaces.

I will take a look.

[2020-12-07 13:12] kriewall commented on #245
Content below, minorly scrubbed - nothing fancy, it's just a C# class autogenerated from an XSD.

[code]

Regarding the type of `product`, it is of type `WaferSettings<SomeSpecificSetting>`, where:

[code]

[2020-12-07 14:09] juflo commented on #48
Hi @vkhorikov
Strong signing ourselves nuget dependencies is a maintenance nightmare for end users (updating package version, not even talking about dealing with [InternallyVisible] attributes).
Did you have a look to Microsoft guidance for open-source libraries regarding strong signing ?
[https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming](url)

[2020-12-08 00:57] vkhorikov commented on #200
I also agree, and I like the idea with the incremental approach. I also like the idea to come up with a specific work plan and a tracking issue. I guess GitHub's Projects tab would be a good fit here. Any ideas of how to best organize it?

[2020-12-08 14:05] mingazhev commented on #242
I'm agree with @nike61 that in some cases `Check` looks confusing.
This method internally does `Bind` and `Map`, and such usage is applicable not only for "checking" something, it could be useful in plenty of different situations.

Keeping method's name as `Tap` is worse because of different semantics. But maybe there would be more common name for such operations? Maybe it should be a `Bind` overl

[2020-12-09 09:05] petrechitashvili commented on #248
I'd like to state that a method returns a `MoneyInUSD`, not `MoneyWithCurrency`, basically for clarity.

What about something like this:

[code]

[2020-12-09 21:45] vkhorikov commented on #242
@nike61 If you have a better name, let's discuss, we can rename `Check` into something else without keeping backward compatibility with `Check` as not too many people have upgraded yet.

@mingazhev I don't quite like `Chain` because it's too broad -- the sole purpose of all extension methods in the library is to chain operations together in 1 LINQ sequence.

[2020-12-09 21:49] vkhorikov commented on #248
What's the purpose of having 2 value objects in this use case, given that you want their instances to be mutually comparable? Looks like just 1 VO (`MoneyWithCurrency`) is enough?

[2020-12-09 22:03] vkhorikov commented on #245
It didn't work because we've added Result<T, E> in v2. Try this one, the difference is that here, you specify the number of arguments in the `Result` explicitly:

[code]

[2020-12-10 16:08] JvSSD opened #249 "Upgrading from 2.13.0 to 2.13.1 gives us compile-time errors"
During an upgrade of some internal software, we got some `ArrayTypeMismatchException` during a call of a method in a nugetted internal library. After some day's worth of trial and error of two people, we managed to pinpoint the error to upgrading the CSharpFunctionalExtensions package we're using from 2.13.0 to 2.13.1. I I was baffled at this, but using version 2.13.0 we really don't get the error

[2020-12-10 16:34] JvSSD commented on #249
Okay, that was easy. Apparently I hadn't found the [actual commit page](https://github.com/vkhorikov/CSharpFunctionalExtensions/commit/12770a82c018a3401ee2cafacec86cf9ff4659c4) yet. This shows the part very relevant for us:

![image](https://user-images.githubusercontent.com/54601698/101799761-d38fe000-3b0c-11eb-8a02-bedc5ab7d01a.png)

We're using `IResult<T>` analogous to `Result<T>` (using the i

[2020-12-11 17:45] benprime opened #250 "Changing the error message for specific usages"
I'm in a situation where I have a widely-used method on a dictionary. It's very simple it tries to get a value from a dictionary, and returns "key not found in dictionary" as the error when the key is not found.
`public static Result<V> GetValue<K, V>(this Dictionary<K, V> dictionary, K key)`

However, I find myself wanting to change the error message in certain situations to provide more context.

[2020-12-14 02:03] vkhorikov commented on #249
I had to add this to implement proper implicit conversions for dynamics. Any chance that you can update the use of `IResult<T>` to `IResult<T,string>`?

If you have any other suggestions that would preserve the logic of `ImplicitConversionTests`, let's discuss.

[2020-12-14 02:13] vkhorikov commented on #250
Take a look at `MapError`, it should fit your use case.

[2020-12-15 15:03] JvSSD commented on #249
I have both both tests and my use case working. However, I can still see a few issues remaining with the conversions (that really already existed before). These come down to how we want to handle any `IResult`: Do we want to allow these to be wrapped in another `IResult`? IMO, that does not make all that much sense, but then we also have to handle what to do when a consumer of the library wants to

[2020-12-15 17:21] vkhorikov commented on #249
This can probably be mitigated by removing `IResult<E>` from the library altogether (`IResult<T, E>` itself should be enough). Made the change, all tests are passing: https://github.com/vkhorikov/CSharpFunctionalExtensions/commit/743ae6d95999f65210df4ba575496225f3845999

Let me know if this works for you ( https://github.com/vkhorikov/CSharpFunctionalExtensions/tree/iresult branch), I will merge t

[2020-12-15 19:49] JvSSD commented on #249
Not quite, I need the `IResult<out T>` back. The `IError<out E>` helps a lot to simplify letting the tests still pass, I see. I've created a pull request that should re-add it (which includes a few tests to guard for the `Result<T> : IResult<out T>` and the latter's covariance).

[2020-12-15 22:38] vkhorikov commented on #249
Did a small refactoring, take a look: https://github.com/vkhorikov/CSharpFunctionalExtensions/pull/252/commits/8b97010e54feeceea63c2102bcd01b9a73386c0d The major change is
[code]
==>
[code]

[2020-12-16 09:21] JvSSD commented on #249
Sure. For me, the current code should be fine. I'm still wondering about cases like the one below, though:

[code]
This results in a `Failure(Success(MyType))`. I'd rather expect at least a `Success(Success(MyType))`, or in this case something like a `Success(MyType, dynamic)` or something.

The thing is, we've now built some support for certain explicit conversions, but not others. At the same ti

[2020-12-16 13:03] vkhorikov commented on #249
Implicit operators can be used as explicit (like in your example). It's the only way to use them with dynamis.

The reason this sample results in `Failure(Success(MyType))` is because `Result<MyType>` is not compatible with `Result<string, object>` (`dynamic` is represented as `object` internally). In terms of covariance, `MyType` (`T`) is not a subclass of `string`.

This code worked for me (chan

[2020-12-16 18:02] kriewall commented on #245
@vkhorikov Sorry for the delay, but: it works!  Thanks for the keen eye.  :)  I'll go ahead and close this out.

[2020-12-16 18:02] #245 closed

[2020-12-16 20:16] JvSSD commented on #249
Oh, haha, missed that while rewriting my example. As far as I am concerned, this one is good to go, then.

[2020-12-17 02:22] vkhorikov commented on #249
Great! I'll publish these changes in v2.13.3

[2020-12-18 22:35] #250 closed

[2020-12-23 18:47] xavierjohn opened #253 "Shouldn't Maybe take T? vs T"
Shouldn't Maybe take T? vs T

If null check is enabled, these types give warning.

`public static Maybe<T> From(T obj)`

I think it should be
`public static Maybe<T> From(T? obj)`

[2020-12-26 22:15] vkhorikov commented on #253
It should, yes. I'll try to update this soon.

[2020-12-26 23:20] vkhorikov opened #254 "Refactor azure pipeline script"
- Get version locally
- Run tests
- Put keys to Azure vault key
- Simplify stages

[2020-12-26 23:22] vkhorikov opened #255 "Create full documentation"
Full documentation with auto-generation from md files

[2020-12-27 01:27] xavierjohn commented on #253
I updated several T to T? but there still over 90+ warnings.
https://github.com/vkhorikov/CSharpFunctionalExtensions/compare/master...xavierjohn:master

[2020-12-28 11:50] #254 closed

[2020-12-28 11:51] vkhorikov opened #256 "Create a strong-signed version of the library"
Create a strong-signed version of the library as a separate package, similar to how Dapper does it.

[2020-12-28 11:53] #249 closed

[2020-12-30 13:38] vkhorikov commented on #253
I'll try to work on this soon

[2020-12-30 16:05] xavierjohn commented on #253
I wonder if we should only target .Net 5. Multi targeting is painful.

Sent from my iPhone

On Dec 30, 2020, at 5:38 AM, Vladimir Khorikov <notifications@github.com> wrote:

﻿

I'll try to work on this soon

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fvkhoriko

[2021-01-12 13:09] petrechitashvili commented on #248
Consider these two method signatures:

[code]

versus

[code]

I'd argue that the second signature communicates the intent that the result **has to be** in USD, whereas the first signature leaves that intention up for interpretation and requires more involvement on the programmer's part.

Besides, `MoneyInUSD` limits what has to be returned from the method and eliminates the possibility of returni

[2021-01-12 13:14] petrechitashvili commented on #244
I'd propose creating your custom ValueObject descendant and then overriding its `ToString()` method to produce the serialized Json (or similar).

[2021-01-13 13:38] vkhorikov commented on #248
Happy New Year to you too! :)

Regarding the two value objects. The second signature is clearer, but so is this one:

[code]

This does leave room for issues where you accidentally return a non-USD currency, but still, I don't it's a good reason to introduce a separate VO. Different VO types work best when you want to segregate different domain concepts. Here, the concept is the same, just with di

[2021-01-13 15:33] petrechitashvili commented on #248
Okay, I'll take that, thank you.

I have a fork of this repo/project that I strongly-sign and have done these proposed modifications in it anyway 🙂

Matter closed.

[2021-01-13 15:33] #248 closed

[2021-02-04 08:34] hankovich opened #258 "Enhance overloads for Match"
Currently there are only [a few overloads](https://github.com/vkhorikov/CSharpFunctionalExtensions/blob/master/CSharpFunctionalExtensions/Result/Extensions/Match.cs) for `Match`.

I suggest to add so called `MatchAsyncLeft` overloads:

[code]

This will help to chain results a bit cleaner.

[code]

[code]

[2021-02-04 08:55] hankovich opened #259 "Proposal: additional MapError overloads"
As I see there's no way to fluently convert `Result<T, E>` to `Result<T>`.
So I think the following overloads would be handly.

[code]

[2021-02-07 11:29] vkhorikov commented on #258
Sounds good. Feel free to submit a PR please.

[2021-02-07 11:29] vkhorikov commented on #259
Sounds good to me!

[2021-02-15 02:10] #258 closed

[2021-02-15 16:01] rizksobhi opened #262 "Strong named assembly"
Hi,
Can you please sign the assembly? your library must have a strong name before I can import it. I've tried to use helper libraries like StrongNamer but it's causing great issues.

Thanks
Rizk

[2021-02-16 15:55] vkhorikov commented on #27
I plan to release a signed version of the library, similar to how Dapper does it. But I don't have an ETA yet unfortunately.

[2021-02-16 15:55] vkhorikov commented on #262
Duplicate: https://github.com/vkhorikov/CSharpFunctionalExtensions/issues/262

[2021-02-16 15:55] #262 closed

[2021-02-16 15:57] vkhorikov commented on #48
A signed version of the library is in the plans. Closing this issue as a duplicate of https://github.com/vkhorikov/CSharpFunctionalExtensions/issues/27

[2021-02-16 15:57] #48 closed

[2021-02-16 16:04] #256 closed

[2021-02-17 08:27] MaxShoshin opened #263 "Extensions for FluentAssertion"
Every time I use this library I need write tests and verify `Result` or `Maybe` in these tests.

I'm using FluentAssertion and would like to write assertions in some kind:
[code]

The same idea for `BeFailed()` extension. For `MayBe` I suggest extension methods like `HaveValue()` and `HaveNoValue()`.

May be create additional package like `CSharpFunctionalExtensions.FluentAssertions` to do not cop

[2021-02-17 16:52] petrechitashvili opened #264 "Maybe<T>.None == null returns false"
Consider the following:

[code]
Considering that `Maybe<T>` implicitly converts `null` to `Maybe<T>.None` I'd expect comparing it with null to return `true`

[2021-02-17 16:58] petrechitashvili opened #265 "Consider adding TryMap extension methods"
Currently, `Map` functions wrap the `Func<T,K>` in `Result.Success(...)`

This is problematic if the `func` raises an exception.

Please consider adding similar methods for `TryMap`ping (i.e. wrapping the func in `Result.Try(...)`)

[2021-02-18 10:59] mingazhev commented on #242
I think all done there, no new ideas

[2021-02-18 10:59] #242 closed

[2021-02-18 11:05] pfitoussi commented on #264
Considering that Maybe<T> is a struct, it would never be null, therefore your statement is useless and you should instead write :
`Console.WriteLine(maybeClassFromEmpty.HasNoValue)`

The `Maybe<T>` is a wrapper around a `T` (or `null`, `default`) and expose properties to handle both case: HasValue and HasNoValue.

I recommend you to read this article [Functional C#: Non-nullable reference types](h

[2021-02-18 12:17] petrechitashvili commented on #264
My statement may be useless, I'll take that, but it is a legal statement and it leads to subtle issues.

We are modifying parts of our codebase with Maybe & Result types, not all at once and we don't (yet) have the luxury of checking everything with Roslynator.

I'd expect that `Maybe<T>.None == null` returns true or throws an exception, but not false.

[2021-02-18 14:49] hankovich commented on #264
@pfitoussi

That's not right in 100% cases. You're right that value type could never be null, however value type can provide it's own implemetation of `==` (which can return true).

Let me summarize:
[code]

[2021-02-18 14:52] hankovich commented on #263
Actually there is an unofficial package that does exactly that.
https://www.nuget.org/packages/FluentAssertions.CSharpFunctionalExtensions/

Spoiler: I've never tried it :)

[2021-02-18 14:59] hankovich commented on #265
For me the proposed method sounds like a case for `Bind` (i.e. `Map` that potentially maps value to error is not actually `Map`).

How about `result.Bind(value => Result.Try(() => func(value)))` as a workaround?

[2021-02-18 15:48] MaxShoshin commented on #263
Many thanks!

My bad.

Package you suggested cover assertion around `Result`.

[2021-02-18 20:33] petrechitashvili commented on #265
OK, agreed.

What about TryBind instead of TryMap to avoid `Result.Try`-ing? 🙂

[2021-02-19 11:13] renato04 commented on #148
@space-alien  There are a lot of  `OnFailure` methods in `OnFailure.cs`. Will all of them marked as deprecated? And suggest using `ConvertFailure`?

[2021-02-22 18:14] josefblaha opened #268 "ValueObject.CompareTo handles variable number of components incorrectly"
I encountered something similar like in #237, but it turned out to be related to variable number of equality components.  Consider the following class:

[code]
Using `CompareTo` will give these results:
[code]
The first call compares only prefix of the two lists. The second call fails on expectation of same number of equality components.

I wonder if there is any generic way of comparing lists of

[2021-02-23 01:19] vkhorikov commented on #264
An additional logic in `==` wouldn't hurt, indeed.

[2021-02-23 01:32] vkhorikov commented on #263
Huh, I didn't know about that package :) I'll link it in the readme. There's no extensions for `Maybe` there, though.

[2021-02-23 02:03] vkhorikov commented on #268
Yes, you need to include the number of elements in the collection into the equality components:

[code]

[2021-02-23 15:46] vkhorikov commented on #265
@petrechitashvili The new extension looks good to me. But I think `BindTry` is a better name here: we are binding the result of an inner `Try` call, as opposed to trying (i.e. invoking a method that may throw) a `Bind` method.

[2021-02-23 15:54] vkhorikov commented on #148
@renato04 `ConvertFailure` is just to change the type of the `Result`, it's not related to the `OnFailure` extension methods. `OnFailure` needs to be renamed (while preserving backward compatibility) into the corresponding `MapFailure`, `BindFailure` and so on, similarly how we did it with `OnSuccess` methods.

[2021-02-24 21:05] RikDriever opened #269 "Convert IEnumerable<Result<T>> to Result<IEnumerable<T>>"
I have a ValueObject `Sample` with a static factory method `Of` that returns a `Result<Sample>`.

In a command handler I want to convert a collection of primitives to samples:

`var myCollection = request.PrimitiveValues.Select(x => Sample.Of(x));`
or shorter:
`var myCollection = request.PrimitiveValues.Select(Sample.Of);`

`myCollection` is now of type `IEnumerable<Result<Sample>>`.

In order to

[2021-02-25 14:29] petrechitashvili commented on #264
Thank you!

[2021-02-25 14:29] #264 closed

[2021-02-27 19:13] hankovich commented on #269
You're absolutely right, it should!
And it exists :)

[code]

[2021-02-27 21:03] linkdotnet opened #272 "Make ValueObject.CompareTo virtual"
The current implementation of `CompareTo` in `ValueObject` is not `virtual`.
This isn't very handy if you use it in combination with for example NHibernate and lazy loading.

Is there an argument against chaning the method to `public virtual int CompareTo(object obj)` and `public virtual int CompareTo(ValueObject other)`?

[2021-02-28 14:50] vkhorikov commented on #272
I'll merge the PR, thank you.

Have you actually run into this issue? When using NHibernate's `Component` feature, NH shouldn't create proxies on top of it. Though, there could be some other use cases I'm not seeing right now.

[2021-02-28 15:27] linkdotnet commented on #272
Yes I ran into the issue:
[code]

This happens when you have a one to many relationship with your ValueObject. (Entity owns a collection of value objects).

You are right: When you directly map it with `Component` it works. Maybe this is more a special case and could be handled with an intermediate ValueObject holding the collection.

[2021-02-28 15:34] vkhorikov commented on #272
Ok, thanks for the clarification. Making those methods virtual wouldn't hurt either way.

[2021-02-28 22:07] #259 closed

[2021-03-01 06:15] #272 closed

[2021-03-01 09:12] RikDriever commented on #269
So simple, so elegant, I love it, thanks :)

[2021-03-01 09:12] #269 closed

[2021-03-03 00:29] lloydjatkinson commented on #141
Could this be shown in the docs? Bit confused how to use the new way.

[2021-03-03 00:37] space-alien commented on #141
Have a look at the home page of this repo, the Examples project, the notes on issue #152 (needs a bit of updating), and also if you have existing code that uses OnSuccess, I believe you should get warnings telling you which new methods to use when you upgrade the package.

[2021-03-04 12:16] linkdotnet opened #274 "Add EnumValueObject"
Hey together,

before creating a pull request I wanted to retrieve some feedback for the following new type: `EnumValueObject`
The basic idea is that have a better enumeration type in the eco-system of the CSharpFunctionalExtensions.

It has the following construct when used:
[code]

The main advantage over a "normal" enum would be:
* Type-Safety (the Create method returns a `Result<TEnumValueObje